CONFIG_HTTP_TIMEOUT=300
CONFIG_SSL_X509_ORGANIZATION_NAME=""
# CONFIG_SSL_SERVER_ONLY is not set
CONFIG_JAVA_HOME="c:\\Program Files\\Java\\jdk1.5.0_06"
# CONFIG_SSL_TEST is not set
# CONFIG_SSL_PROT_LOW is not set
CONFIG_DOT_NET_FRAMEWORK_BASE="c:\\WINDOWS\\Microsoft.NET\\Framework\\v2.0.50727"
CONFIG_HTTP_DIRECTORIES=y
CONFIG_PERL_CORE=""
CONFIG_VBNET_SAMPLES=y
# CONFIG_CSHARP_SAMPLES is not set
CONFIG_SSL_EXPIRY_TIME=24
# CONFIG_PERL_BINDINGS is not set
# CONFIG_PLATFORM_WIN32 is not set
CONFIG_SSL_MAX_CERTS=3
# CONFIG_AXTLSWRAP is not set
CONFIG_EXTRA_CFLAGS_OPTIONS=""
# CONFIG_BIGINT_BARRETT is not set
# CONFIG_C_SAMPLES is not set
HAVE_DOT_CONFIG=y
# CONFIG_BIGINT_CLASSICAL is not set
# CONFIG_JAVA_SAMPLES is not set
MUL_KARATSUBA_THRESH=0
# CONFIG_DEBUG is not set
CONFIG_VISUAL_STUDIO_10_0_BASE=""
# CONFIG_LUA_SAMPLES is not set
# CONFIG_SSL_PROT_MEDIUM is not set
CONFIG_AXHTTPD=y
CONFIG_SSL_GENERATE_X509_CERT=y
# CONFIG_SSL_USE_PKCS12 is not set
CONFIG_X509_MAX_CA_CERTS=150
CONFIG_VISUAL_STUDIO_8_0_BASE=""
PREFIX="/usr/local"
# CONFIG_VISUAL_STUDIO_8_0 is not set
CONFIG_SSL_X509_CERT_LOCATION=""
CONFIG_VBNET_BINDINGS=y
# CONFIG_SSL_FULL_MODE is not set
CONFIG_BIGINT_MONTGOMERY=y
CONFIG_HTTP_PORT=80
CONFIG_HTTP_HTTPS_PORT=443
CONFIG_SSL_CTX_MUTEXING=y
CONFIG_CSHARP_BINDINGS=y
CONFIG_HTTP_LUA_PREFIX=""
# CONFIG_SSL_SKELETON_MODE is not set
CONFIG_BIGINT_SQUARE=y
CONFIG_USE_DEV_URANDOM=y
# CONFIG_PERL_SAMPLES is not set
# CONFIG_HTTP_BUILD_LUA is not set
# CONFIG_VISUAL_STUDIO_10_0 is not set
CONFIG_PERFORMANCE_TESTING=y
SQU_KARATSUBA_THRESH=0
CONFIG_EXTRA_LDFLAGS_OPTIONS=""
# CONFIG_STRIP_UNWANTED_SECTIONS is not set
# CONFIG_SSL_ENABLE_CLIENT is not set
# CONFIG_SSL_USE_DEFAULT_KEY is not set
CONFIG_SSL_CERT_VERIFICATION=y
CONFIG_HTTP_WEBROOT="../www"
CONFIG_HTTP_STATIC_BUILD=y
CONFIG_HTTP_SESSION_CACHE_SIZE=5
CONFIG_HTTP_CGI_EXTENSIONS=".lua,.lp,.php"
CONFIG_OPENSSL_COMPATIBLE=y
# CONFIG_BIGINT_SLIDING_WINDOW is not set
# CONFIG_VISUAL_STUDIO_7_0 is not set
# CONFIG_BIGINT_KARATSUBA is not set
# CONFIG_BIGINT_CRT is not set
CONFIG_HTTP_USER=""
CONFIG_LUA_CORE="/usr/local"
CONFIG_VISUAL_STUDIO_7_0_BASE=""
CONFIG_HTTP_HAS_CGI=y
CONFIG_PERL_LIB=""
# CONFIG_INTEGER_32BIT is not set
CONFIG_BINDINGS=y
# CONFIG_HTTP_HAS_IPV6 is not set
CONFIG_PLATFORM_CYGWIN=y
CONFIG_SSL_PRIVATE_KEY_LOCATION=""
CONFIG_LUA_BINDINGS=y
# CONFIG_HTTP_HAS_AUTHORIZATION is not set
# CONFIG_INTEGER_8BIT is not set
# CONFIG_HTTP_ENABLE_LUA is not set
CONFIG_JAVA_BINDINGS=y
CONFIG_SSL_X509_ORGANIZATION_UNIT_NAME=""
# CONFIG_HTTP_ENABLE_DIFFERENT_USER is not set
CONFIG_BIGINT_CHECK_ON=y
CONFIG_INTEGER_16BIT=y
CONFIG_SAMPLES=y
CONFIG_SSL_X509_COMMON_NAME=""
# CONFIG_PLATFORM_LINUX is not set
# CONFIG_HTTP_IS_DAEMON is not set
CONFIG_SSL_PROT_HIGH=y
CONFIG_HTTP_VERBOSE=y
# CONFIG_SSL_HAS_PEM is not set
CONFIG_HTTP_CGI_LAUNCHER="/usr/bin/cgi"
CONFIG_SSL_PRIVATE_KEY_PASSWORD=""
# CONFIG_WIN32_USE_CRYPTO_LIB is not set
