CONFIG_PERF_CNT=y
# CONFIG_PF_SA1100 is not set
CONFIG_BIT32=y
# CONFIG_PF_ZYNQ is not set
# CONFIG_HAS_LIGHTWEIGHT_BARRIERS_OPTION is not set
CONFIG_MP_MAX_CPUS=4
# CONFIG_PF_REALVIEW is not set
# CONFIG_BIT64 is not set
CONFIG_EXPERIMENTAL=y
# CONFIG_PF_REALVIEW_RAM_PHYS_BASE_0x2 is not set
CONFIG_ARM_CORTEX_A9=y
# CONFIG_WORKAROUND_AMD_FPU_LEAK is not set
# CONFIG_REGPARM3 is not set
# CONFIG_CAN_ARM_CPU_CORTEX_A15 is not set
# CONFIG_ARM_CACHE_L2CXX0 is not set
# CONFIG_MIPS_BIG_ENDIAN is not set
# CONFIG_PF_KIRKWOOD is not set
# CONFIG_SCHED_HPET is not set
CONFIG_CAN_ARM_CACHE_L2CXX0=y
# CONFIG_PF_REALVIEW_RAM_PHYS_BASE_0x8 is not set
# CONFIG_SCHED_APIC is not set
CONFIG_CXX="g++"
# CONFIG_UX_NET is not set
# CONFIG_PF_QEMU is not set
# CONFIG_PF_EXYNOS_TIMER_MCT is not set
# CONFIG_PF_REALVIEW_PB11MP is not set
CONFIG_LABEL=""
# CONFIG_PF_OMAP3_BEAGLEBOARD is not set
CONFIG_CAN_ARM_CPU_CORTEX_A9=y
# CONFIG_PF_MPC52XX is not set
# CONFIG_PF_EXYNOS4 is not set
# CONFIG_BIG_ENDIAN is not set
# CONFIG_SCHED_PIT is not set
# CONFIG_ARM_EM_TZ is not set
# CONFIG_MIPS_PAGE_SIZE_16K is not set
# CONFIG_PPC32_603e is not set
CONFIG_ARM_ENABLE_SWP=y
# CONFIG_WEAK_ORDERING is not set
# CONFIG_HAS_CPU_VIRT is not set
# CONFIG_PF_IMX_6_TIMER_MPTIMER is not set
# CONFIG_HAS_JDB_DISASM_OPTION is not set
CONFIG_ARM_V7=y
CONFIG_ARM=y
# CONFIG_PF_EXYNOS_TIMER_PWM is not set
CONFIG_JDB=y
CONFIG_FPU=y
# CONFIG_MIPS is not set
# CONFIG_CPU_MIPS64 is not set
# CONFIG_PF_BCM283X_RPI2 is not set
# CONFIG_SLOW_RTC is not set
# CONFIG_PF_REALVIEW_VEXPRESS_A57 is not set
# CONFIG_SCHED_RTC is not set
CONFIG_WARN_WARNING=y
# CONFIG_PF_ARMADA38X is not set
# CONFIG_INCLUDE_SPARC is not set
CONFIG_JDB_GZIP=y
# CONFIG_PF_EXYNOS4_4412 is not set
# CONFIG_PF_BAIKAL_T is not set
# CONFIG_PF_LAYERSCAPE is not set
# CONFIG_GSTABS is not set
# CONFIG_PF_REALVIEW_VEXPRESS is not set
# CONFIG_PF_REALVIEW_RAM_PHYS_BASE_0x6 is not set
# CONFIG_PF_OMAP3_OMAP35XEVM is not set
# CONFIG_PF_EXYNOS5_5250 is not set
# CONFIG_PF_PC is not set
# CONFIG_SCHED_FIXED_PRIO is not set
# CONFIG_PF_BCM283X_RPI1 is not set
# CONFIG_PF_CI40 is not set
# CONFIG_CAN_ARM_CPU_CORTEX_A7 is not set
# CONFIG_CPU_MIPS32_R6 is not set
# CONFIG_AMD64 is not set
# CONFIG_ARM_CORTEX_A15 is not set
CONFIG_HAS_VIRT_OBJ_SPACE_OPTION=y
# CONFIG_LIGHTWEIGHT_BARRIERS is not set
CONFIG_CONTEXT_4K=y
# CONFIG_CAN_ARM_CPU_MPCORE is not set
CONFIG_HOST_CC="gcc"
CONFIG_MP=y
# CONFIG_PF_CI20 is not set
# CONFIG_CAN_ARM_CPU_920T is not set
CONFIG_PF_TEGRA=y
# CONFIG_ARM_CORTEX_A8 is not set
CONFIG_ABI_VF=y
# CONFIG_PF_INTEGRATOR is not set
# CONFIG_PF_EXYNOS is not set
CONFIG_NO_FRAME_PTR=y
# CONFIG_SYS_HAS_CPU_MIPS32_R2 is not set
# CONFIG_STACK_DEPTH is not set
# CONFIG_ARM_CORTEX_A5 is not set
# CONFIG_ONE_SHOT is not set
# CONFIG_CAN_ARM_CPU_CORTEX_A8 is not set
# CONFIG_HAVE_ARM_SECMONIF_NONE is not set
# CONFIG_PF_LEON3 is not set
# CONFIG_WARN_NONE is not set
# CONFIG_ARM_EM_NS is not set
# CONFIG_PF_EXYNOS5 is not set
CONFIG_HAS_FPU_OPTION=y
# CONFIG_DEBUG_KERNEL_PAGE_FAULTS is not set
# CONFIG_PF_MALTA is not set
# CONFIG_PF_REALVIEW_VEXPRESS_A9 is not set
# CONFIG_PF_OMAP5_5432EVM is not set
# CONFIG_PF_EXYNOS_EXTGIC is not set
# CONFIG_PF_EXYNOS_UART_NATIVE is not set
CONFIG_ARM_V6PLUS=y
# CONFIG_PF_IMX_51 is not set
# CONFIG_HAS_ARM_PSCI is not set
# CONFIG_PF_IMX_7 is not set
# CONFIG_CAN_ARM_CPU_926 is not set
# CONFIG_INCLUDE_PPC32 is not set
# CONFIG_WATCHDOG is not set
# CONFIG_WARN_ANY is not set
# CONFIG_BIT64_CHOICE is not set
# CONFIG_PF_S3C2410 is not set
# CONFIG_ARM_PXA is not set
# CONFIG_CPU_MIPS32_R2 is not set
# CONFIG_PF_IMX_28 is not set
CONFIG_SCHED_FP_WFQ=y
CONFIG_VMEM_ALLOC_TEST=y
# CONFIG_SCHED_WFQ is not set
# CONFIG_PF_Boston is not set
# CONFIG_IOMMU is not set
# CONFIG_CAN_ARM_CPU_SA1100 is not set
# CONFIG_PF_TEGRA3 is not set
# CONFIG_PF_REALVIEW_RAM_PHYS_BASE_0x7 is not set
# CONFIG_PF_XSCALE is not set
# CONFIG_PPC32 is not set
# CONFIG_CPU_MIPSR6 is not set
# CONFIG_CPU_MIPS64_R6 is not set
CONFIG_NDEBUG=y
# CONFIG_PF_REALVIEW_EB is not set
# CONFIG_PF_IMX_35 is not set
# CONFIG_SYS_HAS_CPU_MIPS32_R6 is not set
# CONFIG_INLINE is not set
# CONFIG_ARM_V8 is not set
# CONFIG_ARM_MPCORE is not set
# CONFIG_PF_MALTA_MP is not set
# CONFIG_HAS_64BIT is not set
# CONFIG_HAS_WEAK_ORDERING_OPTION is not set
# CONFIG_JDB_MISC is not set
CONFIG_SERIAL=y
# CONFIG_CAN_ARM_CPU_CORTEX_A53 is not set
# CONFIG_PF_REALVIEW_RAM_PHYS_BASE_0x0 is not set
# CONFIG_CAN_MIPS_VZ_ASE is not set
# CONFIG_PF_TEGRA_TIMER_MP is not set
CONFIG_PF_EXYNOS_PKG_IDS=""
# CONFIG_LEON3 is not set
# CONFIG_PF_MALTA_UP is not set
# CONFIG_ARM_920T is not set
CONFIG_KERNELVERSION=""
# CONFIG_ARM_LPAE is not set
CONFIG_MAINTAINER_MODE=y
# CONFIG_POWERSAVE_GETCHAR is not set
# CONFIG_SYS_HAS_CPU_MIPS64_R2 is not set
# CONFIG_PF_IMX_6_TIMER_EPIT is not set
# CONFIG_HAVE_ARM_SECMONIF_MC is not set
# CONFIG_CAN_ARM_CPU_CORTEX_A72 is not set
CONFIG_LIST_ALLOC_SANITY=y
# CONFIG_CONTEXT_8K is not set
# CONFIG_ARM_CORTEX_A72 is not set
CONFIG_ARM_V7PLUS=y
# CONFIG_CPU_VIRT is not set
# CONFIG_BEFORE_IRET_SANITY is not set
# CONFIG_PF_EXYNOS_TIMER_GEN is not set
# CONFIG_PF_EXYNOS4_4210 is not set
# CONFIG_FINE_GRAINED_CPUTIME is not set
# CONFIG_JDB_DISASM is not set
# CONFIG_ARM_CORTEX_A57 is not set
# CONFIG_CPU_MIPS32 is not set
# CONFIG_MIPS_LITTLE_ENDIAN is not set
# CONFIG_PF_IMX_21 is not set
# CONFIG_IA32 is not set
# CONFIG_PF_IMX_6 is not set
# CONFIG_HAS_IOMMU_OPTION is not set
# CONFIG_ARM_926 is not set
# CONFIG_CPU_MIPSR2 is not set
# CONFIG_PF_EXYNOS_TIMER_MP is not set
# CONFIG_ARM_CORTEX_A7 is not set
# CONFIG_CPU_MIPS64_R2 is not set
# CONFIG_PF_OMAP3_AM33XX is not set
# CONFIG_PF_LS1012A is not set
# CONFIG_PF_UX is not set
# CONFIG_PF_SEAD3 is not set
# CONFIG_PF_IMX_6UL is not set
# CONFIG_ARM_SA is not set
# CONFIG_SPARC is not set
# CONFIG_ARM_SECMONIF_NONE is not set
# CONFIG_DEFAULT_ARM_EM_NS is not set
CONFIG_PF_TEGRA_TIMER_TMR=y
# CONFIG_PF_SUNXI is not set
# CONFIG_PF_OMAP is not set
CONFIG_PF_TEGRA2=y
# CONFIG_CAN_ARM_CPU_CORTEX_A57 is not set
# CONFIG_ARM_V6 is not set
CONFIG_CC="gcc"
# CONFIG_PF_REALVIEW_VEXPRESS_A15 is not set
# CONFIG_UX_CON is not set
CONFIG_HOST_CXX="g++"
# CONFIG_PF_BCM283X is not set
CONFIG_JDB_LOGGING=y
# CONFIG_PF_BCM283X_RPI3 is not set
CONFIG_ARM_CPU_ERRATA=y
# CONFIG_CAN_ARM_CPU_CORTEX_A5 is not set
# CONFIG_SYNC_TSC is not set
# CONFIG_ARM_1176 is not set
# CONFIG_PF_IMX is not set
# CONFIG_PF_LS1021A is not set
CONFIG_HAS_JDB_GZIP_OPTION=y
CONFIG_PF_EXYNOS_UART_NR=0
# CONFIG_JDB_ACCOUNTING is not set
CONFIG_MIPS_CPU_FREQUENCY=0
# CONFIG_DISABLE_VIRT_OBJ_SPACE is not set
# CONFIG_ARM_ALIGNMENT_CHECK is not set
# CONFIG_PF_EXYNOS5_5410 is not set
# CONFIG_PF_REALVIEW_PBX is not set
# CONFIG_CAN_ARM_CPU_XSCALE is not set
CONFIG_HAS_MP_OPTION=y
# CONFIG_CAN_ARM_CPU_1176 is not set
# CONFIG_PF_RCAR3 is not set
# CONFIG_CPU_SUSPEND is not set
# CONFIG_ARM_1136 is not set
CONFIG_VIRT_OBJ_SPACE=y
# CONFIG_CAN_ARM_CPU_1136 is not set
# CONFIG_ARM_SECMONIF_MC is not set
# CONFIG_MIPS_PAGE_SIZE_4K is not set
CONFIG_ARM_EM_STD=y
# CONFIG_PF_OMAP4_PANDABOARD is not set
# CONFIG_ARM_CORTEX_A53 is not set
# CONFIG_PF_REALVIEW_VEXPRESS_A53 is not set
# CONFIG_ARM_PSCI is not set
# CONFIG_HAS_WATCHDOG_OPTION is not set
# CONFIG_ARM_1176_CACHE_ALIAS_FIX is not set
# CONFIG_SYS_HAS_CPU_MIPS64_R6 is not set
CONFIG_HAS_SERIAL_OPTION=y
# CONFIG_IRQ_SPINNER is not set
