CONFIG_KILL=y
CONFIG_WHICH=y
CONFIG_DHCP6=y
CONFIG_UUDECODE=y
CONFIG_IONICE=y
CONFIG_SWITCH_ROOT=y
# CONFIG_TOUCH is not set
CONFIG_TOYBOX_HELP=y
CONFIG_MKDIR=y
CONFIG_IPCS=y
CONFIG_FREERAMDISK=y
CONFIG_TEST_MANY_OPTIONS=y
CONFIG_SEQ=y
CONFIG_TOYBOX_FORK=y
CONFIG_LSUSB=y
CONFIG_PS=y
CONFIG_SYNC=y
CONFIG_CHRT=y
CONFIG_UNAME=y
CONFIG_TAC=y
CONFIG_PKILL=y
CONFIG_DOS2UNIX=y
# CONFIG_TOP is not set
CONFIG_TEST_SCANKEY=y
CONFIG_MKTEMP=y
CONFIG_READLINK=y
CONFIG_TRUNCATE=y
CONFIG_DECOMPRESS=y
CONFIG_YES=y
CONFIG_HOST=y
CONFIG_FOLD=y
CONFIG_TOYBOX_SHADOW=y
CONFIG_RFKILL=y
CONFIG_GETFATTR=y
CONFIG_SETFATTR=y
CONFIG_TEE=y
CONFIG_TEST=y
CONFIG_TOYBOX_SUID=y
CONFIG_MOUNT=y
CONFIG_TOYBOX=y
CONFIG_PARTPROBE=y
CONFIG_SPLIT=y
CONFIG_WGET=y
CONFIG_TOYBOX_SELINUX=y
CONFIG_NOHUP=y
CONFIG_IP=y
CONFIG_HEAD=y
CONFIG_UMOUNT=y
CONFIG_DIRNAME=y
CONFIG_HELP_EXTRAS=y
CONFIG_PASTE=y
CONFIG_TIMEOUT=y
CONFIG_SULOGIN=y
CONFIG_KILLALL5=y
CONFIG_GROUPADD=y
CONFIG_FGREP=y
CONFIG_TOYBOX_FLOAT=y
CONFIG_STAT=y
CONFIG_TELNET=y
CONFIG_SHA384SUM=y
CONFIG_UPTIME=y
CONFIG_LS=y
CONFIG_SORT_BIG=y
CONFIG_MKPASSWD=y
CONFIG_PWDX=y
CONFIG_SHRED=y
CONFIG_CAL=y
CONFIG_INOTIFYD=y
CONFIG_CRONTAB=y
CONFIG_TASKSET=y
CONFIG_BRCTL=y
CONFIG_MKE2FS=y
CONFIG_TOYBOX_FREE=y
CONFIG_SWAPON=y
CONFIG_TFTPD=y
CONFIG_REALPATH=y
CONFIG_UNIQ=y
CONFIG_TOYBOX_FIFREEZE=y
CONFIG_DMESG=y
CONFIG_MOUNTPOINT=y
CONFIG_TOYBOX_FALLOCATE=y
CONFIG_KILLALL=y
CONFIG_BASE64=y
CONFIG_FALLOCATE=y
CONFIG_MKSWAP=y
CONFIG_CHATTR=y
CONFIG_NETSTAT=y
CONFIG_OD=y
# CONFIG_SU is not set
CONFIG_TOYBOX_DEBUG=y
CONFIG_TTY=y
CONFIG_DU=y
CONFIG_CROND=y
CONFIG_EGREP=y
CONFIG_BOOTCHARTD=y
CONFIG_COMM=y
CONFIG_ONEIT=y
CONFIG_NETCAT=y
# CONFIG_PIVOT_ROOT is not set
CONFIG_HEXEDIT=y
# CONFIG_CP_PRESERVE is not set
# CONFIG_ARPING is not set
CONFIG_FLOCK=y
CONFIG_XARGS=y
CONFIG_FSTYPE=y
CONFIG_LSMOD=y
# CONFIG_XARGS_PEDANTIC is not set
CONFIG_INIT=y
CONFIG_DEALLOCVT=y
# CONFIG_READAHEAD is not set
# CONFIG_TIME is not set
# CONFIG_TOYBOX_CONTAINER is not set
# CONFIG_SYSLOGD is not set
CONFIG_ICONV=y
CONFIG_FIND=y
CONFIG_MKE2FS_JOURNAL=y
# CONFIG_TCPSVD is not set
# CONFIG_CHROOT is not set
CONFIG_MKE2FS_LABEL=y
# CONFIG_TOYBOX_LSM_NONE is not set
# CONFIG_EJECT is not set
CONFIG_HELLO=y
# CONFIG_SETENFORCE is not set
# CONFIG_FTPPUT is not set
CONFIG_SORT_FLOAT=y
CONFIG_MD5SUM=y
CONFIG_TOYBOX_UID_SYS=100
# CONFIG_MKE2FS_GEN is not set
CONFIG_TAR=y
# CONFIG_ULIMIT is not set
# CONFIG_LINK is not set
# CONFIG_GETTY is not set
CONFIG_TOYBOX_LIBCRYPTO=y
# CONFIG_SH is not set
CONFIG_MKDIR_Z=y
# CONFIG_LOSETUP is not set
CONFIG_COMPRESS=y
# CONFIG_USERDEL is not set
CONFIG_FSYNC=y
# CONFIG_NPROC is not set
CONFIG_TRUE=y
# CONFIG_DUMPLEASES is not set
# CONFIG_STOP is not set
CONFIG_TOYBOX_UID_USR=500
CONFIG_CHGRP=y
# CONFIG_PMAP is not set
CONFIG_TR=y
CONFIG_DHCP=y
CONFIG_GROUPDEL=y
CONFIG_EXPAND=y
CONFIG_CAT=y
CONFIG_SWAPOFF=y
CONFIG_HELP=y
CONFIG_DD=y
# CONFIG_SLEEP_FLOAT is not set
CONFIG_GREP=y
# CONFIG_TUNCTL is not set
CONFIG_UUENCODE=y
# CONFIG_BLOCKDEV is not set
CONFIG_TOYBOX_PEDANTIC_ARGS=y
# CONFIG_RMDIR is not set
CONFIG_IORENICE=y
CONFIG_PIDOF=y
CONFIG_CHOWN=y
CONFIG_VMSTAT=y
CONFIG_SKELETON_ALIAS=y
CONFIG_NL=y
# CONFIG_MDEV is not set
CONFIG_ZCAT=y
# CONFIG_FSCK is not set
# CONFIG_MKFIFO_Z is not set
# CONFIG_CPIO is not set
CONFIG_LS_COLOR=y
# CONFIG_TELNETD is not set
# CONFIG_ECHO is not set
CONFIG_HOSTNAME=y
# CONFIG_TOYBOX_ON_ANDROID is not set
CONFIG_SYSCTL=y
# CONFIG_IOTOP is not set
# CONFIG_CAT_V is not set
CONFIG_ROUTE=y
# CONFIG_PING is not set
CONFIG_LSOF=y
# CONFIG_PRINTENV is not set
# CONFIG_MAKEDEVS is not set
# CONFIG_LOGIN is not set
CONFIG_TOYBOX_UTMPX=y
# CONFIG_FALSE is not set
CONFIG_TOYBOX_LIBZ=y
CONFIG_REV=y
CONFIG_IPCRM=y
# CONFIG_COUNT is not set
# CONFIG_KLOGD_SOURCE_RING_BUFFER is not set
CONFIG_TOYBOX_ICONV=y
# CONFIG_XZCAT is not set
# CONFIG_XXD is not set
CONFIG_DATE=y
# CONFIG_CUT is not set
# CONFIG_MODPROBE is not set
CONFIG_FILE=y
CONFIG_CHCON=y
CONFIG_SORT=y
# CONFIG_LN is not set
# CONFIG_RM is not set
# CONFIG_BASENAME is not set
# CONFIG_TAIL_SEEK is not set
CONFIG_SKELETON=y
CONFIG_REBOOT=y
# CONFIG_MIX is not set
CONFIG_NETCAT_LISTEN=y
CONFIG_GETENFORCE=y
CONFIG_FREE=y
# CONFIG_CHVT is not set
# CONFIG_SHA256SUM is not set
# CONFIG_PASSWD_SAD is not set
# CONFIG_UNLINK is not set
# CONFIG_PWD is not set
# CONFIG_TOYBOX_MUSL_NOMMU_IS_BROKEN is not set
# CONFIG_DEBUG_DHCP is not set
# CONFIG_RENICE is not set
# CONFIG_INSMOD is not set
# CONFIG_KLOGD is not set
# CONFIG_W is not set
# CONFIG_INSTALL is not set
# CONFIG_SLEEP is not set
# CONFIG_DHCPD is not set
# CONFIG_SHA224SUM is not set
# CONFIG_MKNOD is not set
# CONFIG_HWCLOCK is not set
# CONFIG_WHO is not set
# CONFIG_CHMOD is not set
# CONFIG_MKE2FS_EXTENDED is not set
# CONFIG_WC is not set
# CONFIG_LAST is not set
# CONFIG_PASSWD is not set
# CONFIG_SHA512SUM is not set
# CONFIG_PGREP is not set
# CONFIG_BLKID is not set
# CONFIG_LOGNAME is not set
# CONFIG_PRINTF is not set
# CONFIG_ENV is not set
# CONFIG_NSENTER is not set
# CONFIG_RESTORECON is not set
# CONFIG_MKFIFO is not set
# CONFIG_SETSID is not set
# CONFIG_CKSUM is not set
# CONFIG_STRINGS is not set
# CONFIG_VI is not set
# CONFIG_CD is not set
# CONFIG_CLEAR is not set
# CONFIG_TOYBOX_I18N is not set
# CONFIG_LSPCI is not set
# CONFIG_TOYBOX_PRLIMIT is not set
# CONFIG_RESET is not set
# CONFIG_SED is not set
# CONFIG_RUNCON is not set
# CONFIG_MICROCOM is not set
# CONFIG_CP is not set
# CONFIG_EXPR is not set
# CONFIG_HOSTID is not set
# CONFIG_BUNZIP2 is not set
# CONFIG_FDISK is not set
# CONFIG_TFTP is not set
# CONFIG_ID is not set
# CONFIG_TRACEROUTE is not set
# CONFIG_START is not set
# CONFIG_VCONFIG is not set
# CONFIG_EXIT is not set
# CONFIG_LSPCI_TEXT is not set
CONFIG_WHOAMI=y
# CONFIG_NICE is not set
# CONFIG_USLEEP is not set
# CONFIG_TEST_HUMAN_READABLE is not set
# CONFIG_SHA1SUM is not set
# CONFIG_ID_Z is not set
# CONFIG_ARP is not set
# CONFIG_DIFF is not set
# CONFIG_BZCAT is not set
# CONFIG_TOYBOX_HELP_DASHDASH is not set
# CONFIG_DF is not set
# CONFIG_ACPI is not set
# CONFIG_SENDEVENT is not set
# CONFIG_PATCH is not set
# CONFIG_MV is not set
# CONFIG_FSFREEZE is not set
# CONFIG_GETPROP is not set
# CONFIG_LOAD_POLICY is not set
# CONFIG_GUNZIP is not set
# CONFIG_CMP is not set
# CONFIG_MORE is not set
# CONFIG_TAIL is not set
# CONFIG_RMMOD is not set
# CONFIG_FTPGET is not set
# CONFIG_NBD_CLIENT is not set
# CONFIG_LOG is not set
# CONFIG_GZIP is not set
# CONFIG_TEST_UTF8TOWC is not set
# CONFIG_ASCII is not set
# CONFIG_UNIX2DOS is not set
# CONFIG_SETPROP is not set
# CONFIG_MKNOD_Z is not set
# CONFIG_MDEV_CONF is not set
# CONFIG_MODINFO is not set
# CONFIG_CATV is not set
# CONFIG_TOYBOX_ANDROID_SCHEDPOLICY is not set
# CONFIG_GROUPS is not set
# CONFIG_IFCONFIG is not set
# CONFIG_TOYBOX_SMACK is not set
# CONFIG_FACTOR is not set
# CONFIG_WATCH is not set
# CONFIG_OPENVT is not set
# CONFIG_USERADD is not set
# CONFIG_UNSHARE is not set
# CONFIG_LSATTR is not set
# CONFIG_LOGGER is not set
# CONFIG_TOYBOX_NORECURSE is not set
