CONFIG_KILL=y
CONFIG_TOYBOX_NORECURSE=y
# CONFIG_REBOOT is not set
CONFIG_USERADD=y
CONFIG_IONICE=y
CONFIG_SWITCH_ROOT=y
CONFIG_TOYBOX_HELP=y
CONFIG_IFCONFIG=y
CONFIG_GROUPS=y
# CONFIG_TCPSVD is not set
CONFIG_FREERAMDISK=y
CONFIG_TEST_MANY_OPTIONS=y
CONFIG_UNIX2DOS=y
CONFIG_TOYBOX_FORK=y
CONFIG_LSUSB=y
CONFIG_PS=y
CONFIG_GZIP=y
CONFIG_CHRT=y
CONFIG_TAIL=y
CONFIG_CMP=y
CONFIG_LOAD_POLICY=y
CONFIG_MV=y
CONFIG_PKILL=y
CONFIG_ACPI=y
CONFIG_TEST_SCANKEY=y
CONFIG_MKTEMP=y
CONFIG_DF=y
CONFIG_BZCAT=y
CONFIG_TRUNCATE=y
CONFIG_YES=y
CONFIG_ARP=y
CONFIG_FOLD=y
CONFIG_SHA1SUM=y
CONFIG_TOYBOX_SHADOW=y
CONFIG_LSPCI_TEXT=y
CONFIG_GETFATTR=y
CONFIG_VCONFIG=y
CONFIG_SETFATTR=y
CONFIG_TRACEROUTE=y
CONFIG_TOYBOX_SUID=y
CONFIG_TFTP=y
CONFIG_FDISK=y
CONFIG_MOUNT=y
CONFIG_TOYBOX=y
CONFIG_HOSTID=y
CONFIG_CP=y
CONFIG_MICROCOM=y
CONFIG_PARTPROBE=y
CONFIG_RUNCON=y
CONFIG_SPLIT=y
CONFIG_TOYBOX_SELINUX=y
CONFIG_NOHUP=y
CONFIG_IP=y
CONFIG_LSPCI=y
CONFIG_HEAD=y
CONFIG_DIRNAME=y
CONFIG_PASTE=y
CONFIG_TIMEOUT=y
CONFIG_SULOGIN=y
CONFIG_RESTORECON=y
CONFIG_TOYBOX_FLOAT=y
CONFIG_STAT=y
CONFIG_UPTIME=y
CONFIG_LS=y
CONFIG_PRINTF=y
CONFIG_LOGNAME=y
CONFIG_BLKID=y
CONFIG_SHA512SUM=y
CONFIG_SHRED=y
CONFIG_PASSWD=y
CONFIG_INOTIFYD=y
CONFIG_TASKSET=y
# CONFIG_NPROC is not set
CONFIG_WC=y
CONFIG_CHMOD=y
CONFIG_TFTPD=y
CONFIG_REALPATH=y
CONFIG_TOYBOX_FIFREEZE=y
CONFIG_DMESG=y
CONFIG_MOUNTPOINT=y
CONFIG_TOYBOX_FALLOCATE=y
CONFIG_KILLALL=y
CONFIG_INSTALL=y
CONFIG_BASE64=y
CONFIG_FALLOCATE=y
CONFIG_KLOGD=y
CONFIG_INSMOD=y
CONFIG_RENICE=y
CONFIG_CHATTR=y
CONFIG_OD=y
CONFIG_CROND=y
CONFIG_COMM=y
CONFIG_UNLINK=y
CONFIG_NETCAT=y
CONFIG_HEXEDIT=y
CONFIG_SHA256SUM=y
CONFIG_CHVT=y
CONFIG_FLOCK=y
# CONFIG_NL is not set
CONFIG_FSTYPE=y
CONFIG_LSMOD=y
CONFIG_MIX=y
CONFIG_INIT=y
# CONFIG_SYSLOGD is not set
CONFIG_TAIL_SEEK=y
# CONFIG_READAHEAD is not set
# CONFIG_TOYBOX_CONTAINER is not set
# CONFIG_VMSTAT is not set
# CONFIG_TOUCH is not set
CONFIG_FIND=y
# CONFIG_SKELETON is not set
CONFIG_MODPROBE=y
# CONFIG_CHCON is not set
# CONFIG_SORT is not set
CONFIG_XXD=y
# CONFIG_EJECT is not set
# CONFIG_TOYBOX_LSM_NONE is not set
CONFIG_KLOGD_SOURCE_RING_BUFFER=y
CONFIG_COUNT=y
# CONFIG_SETENFORCE is not set
CONFIG_MD5SUM=y
CONFIG_TOYBOX_UID_SYS=100
CONFIG_FALSE=y
CONFIG_TAR=y
# CONFIG_ULIMIT is not set
# CONFIG_DATE is not set
CONFIG_PRINTENV=y
CONFIG_TOYBOX_LIBCRYPTO=y
# CONFIG_IPCRM is not set
# CONFIG_MKE2FS_GEN is not set
CONFIG_CAT_V=y
CONFIG_IOTOP=y
# CONFIG_USERDEL is not set
# CONFIG_LSOF is not set
# CONFIG_ROUTE is not set
CONFIG_ECHO=y
CONFIG_TELNETD=y
# CONFIG_HOSTNAME is not set
CONFIG_CPIO=y
# CONFIG_SYSCTL is not set
CONFIG_FSCK=y
CONFIG_TOYBOX_UID_USR=500
# CONFIG_PMAP is not set
# CONFIG_STOP is not set
CONFIG_TR=y
CONFIG_DHCP=y
# CONFIG_SKELETON_ALIAS is not set
CONFIG_EXPAND=y
CONFIG_CAT=y
CONFIG_SWAPOFF=y
# CONFIG_CHROOT is not set
CONFIG_DD=y
CONFIG_RMDIR=y
# CONFIG_TOYBOX_PEDANTIC_ARGS is not set
CONFIG_BLOCKDEV=y
CONFIG_UUENCODE=y
CONFIG_TUNCTL=y
# CONFIG_GREP is not set
# CONFIG_IORENICE is not set
# CONFIG_SLEEP_FLOAT is not set
# CONFIG_HELP is not set
CONFIG_PIDOF=y
CONFIG_CHOWN=y
# CONFIG_GROUPDEL is not set
CONFIG_PIVOT_ROOT=y
# CONFIG_MDEV is not set
# CONFIG_CHGRP is not set
CONFIG_ZCAT=y
CONFIG_SU=y
# CONFIG_MKFIFO_Z is not set
CONFIG_LS_COLOR=y
# CONFIG_TRUE is not set
CONFIG_DUMPLEASES=y
# CONFIG_FSYNC is not set
# CONFIG_TOYBOX_ON_ANDROID is not set
# CONFIG_COMPRESS is not set
CONFIG_LOSETUP=y
CONFIG_TOYBOX_UTMPX=y
# CONFIG_MKDIR_Z is not set
# CONFIG_PING is not set
CONFIG_TOYBOX_LIBZ=y
CONFIG_REV=y
# CONFIG_MAKEDEVS is not set
# CONFIG_LOGIN is not set
CONFIG_SH=y
CONFIG_LINK=y
CONFIG_TOYBOX_ICONV=y
CONFIG_WHOAMI=y
# CONFIG_SORT_FLOAT is not set
CONFIG_GETTY=y
CONFIG_FTPPUT=y
# CONFIG_HELLO is not set
# CONFIG_XZCAT is not set
CONFIG_TOP=y
# CONFIG_MKE2FS_LABEL is not set
# CONFIG_CUT is not set
CONFIG_FILE=y
# CONFIG_MKE2FS_JOURNAL is not set
# CONFIG_ICONV is not set
# CONFIG_LN is not set
# CONFIG_RM is not set
# CONFIG_BASENAME is not set
CONFIG_TIME=y
# CONFIG_DEALLOCVT is not set
# CONFIG_XARGS is not set
CONFIG_CP_PRESERVE=y
# CONFIG_PASSWD_SAD is not set
# CONFIG_ONEIT is not set
# CONFIG_BOOTCHARTD is not set
# CONFIG_EGREP is not set
# CONFIG_PWD is not set
# CONFIG_TOYBOX_MUSL_NOMMU_IS_BROKEN is not set
# CONFIG_DU is not set
# CONFIG_TTY is not set
# CONFIG_TOYBOX_DEBUG is not set
# CONFIG_DEBUG_DHCP is not set
# CONFIG_NETSTAT is not set
# CONFIG_MKSWAP is not set
# CONFIG_W is not set
# CONFIG_SLEEP is not set
# CONFIG_DHCPD is not set
# CONFIG_SHA224SUM is not set
# CONFIG_MKNOD is not set
# CONFIG_HWCLOCK is not set
# CONFIG_WHO is not set
# CONFIG_UNIQ is not set
# CONFIG_SWAPON is not set
# CONFIG_TOYBOX_FREE is not set
# CONFIG_MKE2FS is not set
# CONFIG_MKE2FS_EXTENDED is not set
# CONFIG_LAST is not set
# CONFIG_BRCTL is not set
# CONFIG_CRONTAB is not set
# CONFIG_CAL is not set
# CONFIG_PWDX is not set
# CONFIG_MKPASSWD is not set
# CONFIG_SORT_BIG is not set
# CONFIG_PGREP is not set
# CONFIG_SHA384SUM is not set
# CONFIG_TELNET is not set
# CONFIG_ENV is not set
# CONFIG_NSENTER is not set
# CONFIG_MKFIFO is not set
# CONFIG_FGREP is not set
# CONFIG_GROUPADD is not set
# CONFIG_SETSID is not set
# CONFIG_KILLALL5 is not set
# CONFIG_CKSUM is not set
# CONFIG_STRINGS is not set
# CONFIG_VI is not set
# CONFIG_CD is not set
# CONFIG_CLEAR is not set
# CONFIG_HELP_EXTRAS is not set
# CONFIG_UMOUNT is not set
# CONFIG_TOYBOX_I18N is not set
# CONFIG_TOYBOX_PRLIMIT is not set
# CONFIG_WGET is not set
# CONFIG_RESET is not set
# CONFIG_SED is not set
# CONFIG_EXPR is not set
# CONFIG_BUNZIP2 is not set
# CONFIG_ID is not set
# CONFIG_TEST is not set
# CONFIG_TEE is not set
# CONFIG_START is not set
# CONFIG_EXIT is not set
# CONFIG_RFKILL is not set
# CONFIG_NICE is not set
# CONFIG_USLEEP is not set
# CONFIG_TEST_HUMAN_READABLE is not set
# CONFIG_HOST is not set
# CONFIG_ID_Z is not set
# CONFIG_DECOMPRESS is not set
# CONFIG_DIFF is not set
# CONFIG_TOYBOX_HELP_DASHDASH is not set
# CONFIG_READLINK is not set
# CONFIG_SENDEVENT is not set
# CONFIG_DOS2UNIX is not set
# CONFIG_PATCH is not set
# CONFIG_FSFREEZE is not set
# CONFIG_GETPROP is not set
# CONFIG_ARPING is not set
# CONFIG_TAC is not set
# CONFIG_UNAME is not set
# CONFIG_GUNZIP is not set
# CONFIG_LOG is not set
# CONFIG_MORE is not set
# CONFIG_RMMOD is not set
# CONFIG_FTPGET is not set
# CONFIG_NBD_CLIENT is not set
# CONFIG_XARGS_PEDANTIC is not set
# CONFIG_SYNC is not set
# CONFIG_FREE is not set
# CONFIG_TEST_UTF8TOWC is not set
# CONFIG_ASCII is not set
# CONFIG_SEQ is not set
# CONFIG_GETENFORCE is not set
# CONFIG_IPCS is not set
# CONFIG_SETPROP is not set
# CONFIG_MKNOD_Z is not set
# CONFIG_MDEV_CONF is not set
# CONFIG_MODINFO is not set
# CONFIG_CATV is not set
# CONFIG_MKDIR is not set
# CONFIG_TOYBOX_ANDROID_SCHEDPOLICY is not set
# CONFIG_TOYBOX_SMACK is not set
# CONFIG_NETCAT_LISTEN is not set
# CONFIG_FACTOR is not set
# CONFIG_WATCH is not set
# CONFIG_OPENVT is not set
# CONFIG_UNSHARE is not set
# CONFIG_UUDECODE is not set
# CONFIG_LSATTR is not set
# CONFIG_DHCP6 is not set
# CONFIG_WHICH is not set
# CONFIG_LOGGER is not set
