CONFIG_LOGGER=y
# CONFIG_REBOOT is not set
CONFIG_SWITCH_ROOT=y
# CONFIG_TOUCH is not set
CONFIG_TOYBOX_HELP=y
CONFIG_IFCONFIG=y
CONFIG_CATV=y
CONFIG_TEST_MANY_OPTIONS=y
CONFIG_UNIX2DOS=y
CONFIG_ASCII=y
CONFIG_TOYBOX_FORK=y
CONFIG_CHRT=y
CONFIG_NBD_CLIENT=y
CONFIG_RMMOD=y
# CONFIG_TOYBOX_LSM_NONE is not set
CONFIG_CMP=y
CONFIG_UNAME=y
CONFIG_FSFREEZE=y
CONFIG_MV=y
CONFIG_ACPI=y
CONFIG_TEST_SCANKEY=y
CONFIG_READLINK=y
CONFIG_DF=y
CONFIG_DIFF=y
CONFIG_TRUNCATE=y
CONFIG_DECOMPRESS=y
CONFIG_YES=y
CONFIG_TEST_HUMAN_READABLE=y
CONFIG_TOYBOX_SHADOW=y
CONFIG_USLEEP=y
CONFIG_NICE=y
CONFIG_RFKILL=y
CONFIG_GETFATTR=y
CONFIG_TEE=y
CONFIG_TFTP=y
CONFIG_TOYBOX=y
CONFIG_HOSTID=y
CONFIG_MICROCOM=y
CONFIG_PARTPROBE=y
CONFIG_RUNCON=y
CONFIG_SED=y
CONFIG_RESET=y
CONFIG_WGET=y
CONFIG_TOYBOX_SELINUX=y
CONFIG_NOHUP=y
CONFIG_IP=y
CONFIG_TOYBOX_I18N=y
CONFIG_UMOUNT=y
CONFIG_DIRNAME=y
CONFIG_STRINGS=y
CONFIG_CKSUM=y
CONFIG_FGREP=y
CONFIG_RESTORECON=y
CONFIG_ENV=y
CONFIG_LS=y
CONFIG_LOGNAME=y
CONFIG_BLKID=y
CONFIG_SHA512SUM=y
CONFIG_MKPASSWD=y
CONFIG_PWDX=y
CONFIG_PASSWD=y
CONFIG_CAL=y
CONFIG_INOTIFYD=y
CONFIG_CRONTAB=y
CONFIG_TASKSET=y
CONFIG_BRCTL=y
CONFIG_MKE2FS=y
CONFIG_TOYBOX_FREE=y
CONFIG_SWAPON=y
CONFIG_TFTPD=y
CONFIG_TOYBOX_FIFREEZE=y
CONFIG_WHO=y
CONFIG_HWCLOCK=y
CONFIG_DMESG=y
CONFIG_TOYBOX_FALLOCATE=y
CONFIG_KILLALL=y
CONFIG_DHCPD=y
CONFIG_INSTALL=y
CONFIG_BASE64=y
CONFIG_FALLOCATE=y
CONFIG_KLOGD=y
CONFIG_MKSWAP=y
CONFIG_TOYBOX_DEBUG=y
CONFIG_TTY=y
CONFIG_DU=y
CONFIG_EGREP=y
CONFIG_BOOTCHARTD=y
CONFIG_COMM=y
CONFIG_ONEIT=y
CONFIG_PASSWD_SAD=y
CONFIG_HEXEDIT=y
# CONFIG_CP_PRESERVE is not set
# CONFIG_ARPING is not set
CONFIG_FLOCK=y
CONFIG_XARGS=y
# CONFIG_LOG is not set
CONFIG_MIX=y
CONFIG_INIT=y
# CONFIG_TOYBOX_SMACK is not set
# CONFIG_NETCAT_LISTEN is not set
CONFIG_BASENAME=y
# CONFIG_TOYBOX_CONTAINER is not set
CONFIG_LN=y
CONFIG_ICONV=y
# CONFIG_TCPSVD is not set
# CONFIG_SKELETON is not set
CONFIG_MODPROBE=y
CONFIG_CUT=y
CONFIG_MKE2FS_LABEL=y
CONFIG_XXD=y
CONFIG_XZCAT=y
CONFIG_HELLO=y
CONFIG_KLOGD_SOURCE_RING_BUFFER=y
CONFIG_COUNT=y
# CONFIG_EJECT is not set
CONFIG_MD5SUM=y
CONFIG_TOYBOX_UID_SYS=100
# CONFIG_DATE is not set
CONFIG_TAR=y
CONFIG_LOGIN=y
# CONFIG_ULIMIT is not set
# CONFIG_IPCRM is not set
CONFIG_TOYBOX_LIBCRYPTO=y
CONFIG_PING=y
CONFIG_IOTOP=y
# CONFIG_USERDEL is not set
# CONFIG_LOSETUP is not set
CONFIG_FSYNC=y
CONFIG_ECHO=y
CONFIG_TELNETD=y
CONFIG_CPIO=y
# CONFIG_DUMPLEASES is not set
CONFIG_FSCK=y
CONFIG_TOYBOX_UID_USR=500
CONFIG_CHGRP=y
# CONFIG_ZCAT is not set
CONFIG_TR=y
CONFIG_DHCP=y
# CONFIG_STOP is not set
CONFIG_EXPAND=y
# CONFIG_CHROOT is not set
CONFIG_SWAPOFF=y
# CONFIG_PIDOF is not set
# CONFIG_SLEEP_FLOAT is not set
# CONFIG_VMSTAT is not set
CONFIG_GREP=y
# CONFIG_TUNCTL is not set
CONFIG_UUENCODE=y
# CONFIG_BLOCKDEV is not set
# CONFIG_TOYBOX_PEDANTIC_ARGS is not set
# CONFIG_RMDIR is not set
# CONFIG_DD is not set
# CONFIG_HELP is not set
CONFIG_IORENICE=y
# CONFIG_CAT is not set
CONFIG_CHOWN=y
# CONFIG_GROUPDEL is not set
CONFIG_SKELETON_ALIAS=y
CONFIG_NL=y
# CONFIG_MDEV is not set
CONFIG_PIVOT_ROOT=y
CONFIG_PMAP=y
CONFIG_SU=y
# CONFIG_MKFIFO_Z is not set
CONFIG_LS_COLOR=y
# CONFIG_TRUE is not set
CONFIG_HOSTNAME=y
CONFIG_SYSCTL=y
CONFIG_NPROC=y
# CONFIG_TOYBOX_ON_ANDROID is not set
# CONFIG_COMPRESS is not set
CONFIG_ROUTE=y
# CONFIG_CAT_V is not set
# CONFIG_MKDIR_Z is not set
CONFIG_LSOF=y
CONFIG_TOYBOX_UTMPX=y
# CONFIG_PRINTENV is not set
# CONFIG_MAKEDEVS is not set
CONFIG_TOYBOX_LIBZ=y
CONFIG_REV=y
# CONFIG_FALSE is not set
CONFIG_SH=y
CONFIG_LINK=y
# CONFIG_SORT_FLOAT is not set
CONFIG_TOYBOX_ICONV=y
CONFIG_WHOAMI=y
CONFIG_MKE2FS_GEN=y
CONFIG_GETTY=y
CONFIG_FTPPUT=y
CONFIG_SETENFORCE=y
CONFIG_TOP=y
CONFIG_FILE=y
# CONFIG_MKE2FS_JOURNAL is not set
# CONFIG_FIND is not set
CONFIG_CHCON=y
CONFIG_SORT=y
# CONFIG_RM is not set
# CONFIG_TAIL_SEEK is not set
# CONFIG_DEALLOCVT is not set
CONFIG_READAHEAD=y
CONFIG_SYSLOGD=y
# CONFIG_LSMOD is not set
# CONFIG_FSTYPE is not set
CONFIG_GETENFORCE=y
CONFIG_FREE=y
# CONFIG_CHVT is not set
# CONFIG_SHA256SUM is not set
CONFIG_XARGS_PEDANTIC=y
# CONFIG_NETCAT is not set
# CONFIG_UNLINK is not set
# CONFIG_PWD is not set
# CONFIG_TOYBOX_MUSL_NOMMU_IS_BROKEN is not set
# CONFIG_CROND is not set
# CONFIG_DEBUG_DHCP is not set
# CONFIG_OD is not set
# CONFIG_NETSTAT is not set
# CONFIG_CHATTR is not set
# CONFIG_RENICE is not set
# CONFIG_INSMOD is not set
# CONFIG_W is not set
# CONFIG_SLEEP is not set
# CONFIG_SHA224SUM is not set
# CONFIG_MOUNTPOINT is not set
# CONFIG_MKNOD is not set
# CONFIG_UNIQ is not set
# CONFIG_REALPATH is not set
# CONFIG_CHMOD is not set
# CONFIG_MKE2FS_EXTENDED is not set
# CONFIG_WC is not set
# CONFIG_LAST is not set
# CONFIG_SHRED is not set
# CONFIG_SORT_BIG is not set
# CONFIG_PGREP is not set
# CONFIG_PRINTF is not set
# CONFIG_UPTIME is not set
# CONFIG_SHA384SUM is not set
# CONFIG_TELNET is not set
# CONFIG_STAT is not set
# CONFIG_TOYBOX_FLOAT is not set
# CONFIG_NSENTER is not set
# CONFIG_MKFIFO is not set
# CONFIG_GROUPADD is not set
# CONFIG_SETSID is not set
# CONFIG_KILLALL5 is not set
# CONFIG_SULOGIN is not set
# CONFIG_VI is not set
# CONFIG_TIMEOUT is not set
# CONFIG_CD is not set
# CONFIG_PASTE is not set
# CONFIG_CLEAR is not set
# CONFIG_HELP_EXTRAS is not set
# CONFIG_HEAD is not set
# CONFIG_LSPCI is not set
# CONFIG_TOYBOX_PRLIMIT is not set
# CONFIG_SPLIT is not set
# CONFIG_CP is not set
# CONFIG_EXPR is not set
# CONFIG_MOUNT is not set
# CONFIG_BUNZIP2 is not set
# CONFIG_FDISK is not set
# CONFIG_TOYBOX_SUID is not set
# CONFIG_ID is not set
# CONFIG_TEST is not set
# CONFIG_TRACEROUTE is not set
# CONFIG_START is not set
# CONFIG_SETFATTR is not set
# CONFIG_VCONFIG is not set
# CONFIG_EXIT is not set
# CONFIG_LSPCI_TEXT is not set
# CONFIG_SHA1SUM is not set
# CONFIG_FOLD is not set
# CONFIG_HOST is not set
# CONFIG_ID_Z is not set
# CONFIG_ARP is not set
# CONFIG_BZCAT is not set
# CONFIG_TOYBOX_HELP_DASHDASH is not set
# CONFIG_MKTEMP is not set
# CONFIG_SENDEVENT is not set
# CONFIG_DOS2UNIX is not set
# CONFIG_PKILL is not set
# CONFIG_PATCH is not set
# CONFIG_GETPROP is not set
# CONFIG_LOAD_POLICY is not set
# CONFIG_TAC is not set
# CONFIG_GUNZIP is not set
# CONFIG_MORE is not set
# CONFIG_TAIL is not set
# CONFIG_FTPGET is not set
# CONFIG_GZIP is not set
# CONFIG_SYNC is not set
# CONFIG_PS is not set
# CONFIG_LSUSB is not set
# CONFIG_TEST_UTF8TOWC is not set
# CONFIG_SEQ is not set
# CONFIG_FREERAMDISK is not set
# CONFIG_IPCS is not set
# CONFIG_SETPROP is not set
# CONFIG_MKNOD_Z is not set
# CONFIG_MDEV_CONF is not set
# CONFIG_MODINFO is not set
# CONFIG_MKDIR is not set
# CONFIG_TOYBOX_ANDROID_SCHEDPOLICY is not set
# CONFIG_GROUPS is not set
# CONFIG_TIME is not set
# CONFIG_FACTOR is not set
# CONFIG_WATCH is not set
# CONFIG_IONICE is not set
# CONFIG_OPENVT is not set
# CONFIG_USERADD is not set
# CONFIG_UNSHARE is not set
# CONFIG_UUDECODE is not set
# CONFIG_LSATTR is not set
# CONFIG_DHCP6 is not set
# CONFIG_WHICH is not set
# CONFIG_TOYBOX_NORECURSE is not set
# CONFIG_KILL is not set
