CONFIG_KILL=y
CONFIG_DHCP6=y
CONFIG_LSATTR=y
CONFIG_OPENVT=y
CONFIG_IONICE=y
CONFIG_WATCH=y
CONFIG_FACTOR=y
CONFIG_IFCONFIG=y
CONFIG_GROUPS=y
CONFIG_MODINFO=y
CONFIG_MKNOD_Z=y
CONFIG_FREERAMDISK=y
# CONFIG_SORT is not set
CONFIG_ASCII=y
CONFIG_TOYBOX_FORK=y
CONFIG_TEST_UTF8TOWC=y
CONFIG_LSUSB=y
# CONFIG_CHCON is not set
CONFIG_CHRT=y
CONFIG_NBD_CLIENT=y
CONFIG_FTPGET=y
# CONFIG_FILE is not set
CONFIG_TAIL=y
CONFIG_MORE=y
CONFIG_CMP=y
CONFIG_GUNZIP=y
CONFIG_UNAME=y
CONFIG_LOAD_POLICY=y
CONFIG_MV=y
CONFIG_PATCH=y
CONFIG_PKILL=y
CONFIG_ACPI=y
CONFIG_MKTEMP=y
CONFIG_DIFF=y
CONFIG_TRUNCATE=y
CONFIG_YES=y
CONFIG_ID_Z=y
CONFIG_TOYBOX_SHADOW=y
CONFIG_USLEEP=y
CONFIG_RFKILL=y
CONFIG_GETFATTR=y
CONFIG_VCONFIG=y
CONFIG_TRACEROUTE=y
CONFIG_TEST=y
CONFIG_ID=y
CONFIG_BUNZIP2=y
CONFIG_MOUNT=y
CONFIG_TOYBOX=y
CONFIG_HOSTID=y
CONFIG_PARTPROBE=y
CONFIG_SPLIT=y
CONFIG_RESET=y
CONFIG_WGET=y
CONFIG_TOYBOX_SELINUX=y
CONFIG_LSPCI=y
CONFIG_TOYBOX_I18N=y
CONFIG_DIRNAME=y
CONFIG_CLEAR=y
CONFIG_TIMEOUT=y
CONFIG_VI=y
CONFIG_STRINGS=y
CONFIG_SULOGIN=y
CONFIG_FGREP=y
CONFIG_TOYBOX_FLOAT=y
CONFIG_ENV=y
CONFIG_STAT=y
CONFIG_UPTIME=y
CONFIG_LS=y
CONFIG_PRINTF=y
CONFIG_SHA512SUM=y
CONFIG_CAL=y
CONFIG_CRONTAB=y
CONFIG_TASKSET=y
CONFIG_MKE2FS_EXTENDED=y
CONFIG_MKE2FS=y
CONFIG_TFTPD=y
CONFIG_TOYBOX_FIFREEZE=y
CONFIG_HWCLOCK=y
CONFIG_DMESG=y
CONFIG_MKNOD=y
CONFIG_TOYBOX_FALLOCATE=y
CONFIG_KILLALL=y
CONFIG_SHA224SUM=y
CONFIG_INSTALL=y
CONFIG_W=y
CONFIG_BASE64=y
CONFIG_KLOGD=y
CONFIG_INSMOD=y
CONFIG_CHATTR=y
CONFIG_NETSTAT=y
CONFIG_OD=y
CONFIG_CROND=y
CONFIG_EGREP=y
CONFIG_BOOTCHARTD=y
CONFIG_ONEIT=y
CONFIG_NETCAT=y
# CONFIG_CP_PRESERVE is not set
# CONFIG_ARPING is not set
# CONFIG_LOG is not set
CONFIG_XARGS=y
CONFIG_FSTYPE=y
CONFIG_LSMOD=y
# CONFIG_FREE is not set
CONFIG_INIT=y
# CONFIG_SYSLOGD is not set
# CONFIG_READAHEAD is not set
CONFIG_BASENAME=y
# CONFIG_TOYBOX_CONTAINER is not set
# CONFIG_TIME is not set
CONFIG_ICONV=y
CONFIG_FIND=y
# CONFIG_SKELETON is not set
CONFIG_MODPROBE=y
CONFIG_CUT=y
CONFIG_MKE2FS_LABEL=y
CONFIG_XXD=y
CONFIG_XZCAT=y
# CONFIG_EJECT is not set
CONFIG_KLOGD_SOURCE_RING_BUFFER=y
# CONFIG_TOYBOX_LSM_NONE is not set
# CONFIG_GETTY is not set
CONFIG_MD5SUM=y
CONFIG_TOYBOX_UID_SYS=100
CONFIG_FALSE=y
# CONFIG_ULIMIT is not set
CONFIG_LOGIN=y
CONFIG_MAKEDEVS=y
CONFIG_PRINTENV=y
CONFIG_TOYBOX_LIBCRYPTO=y
# CONFIG_REV is not set
# CONFIG_LINK is not set
# CONFIG_DATE is not set
CONFIG_COMPRESS=y
# CONFIG_LSOF is not set
# CONFIG_USERDEL is not set
CONFIG_ECHO=y
CONFIG_TELNETD=y
CONFIG_TRUE=y
# CONFIG_DUMPLEASES is not set
# CONFIG_LS_COLOR is not set
# CONFIG_STOP is not set
CONFIG_TOYBOX_UID_USR=500
CONFIG_CHGRP=y
# CONFIG_PMAP is not set
# CONFIG_HOSTNAME is not set
CONFIG_DHCP=y
# CONFIG_NL is not set
# CONFIG_CHROOT is not set
# CONFIG_PIDOF is not set
CONFIG_DD=y
CONFIG_RMDIR=y
CONFIG_GREP=y
CONFIG_BLOCKDEV=y
# CONFIG_UUENCODE is not set
# CONFIG_TUNCTL is not set
# CONFIG_TOYBOX_PEDANTIC_ARGS is not set
CONFIG_IORENICE=y
# CONFIG_SLEEP_FLOAT is not set
# CONFIG_HELP is not set
# CONFIG_SWAPOFF is not set
# CONFIG_CAT is not set
# CONFIG_EXPAND is not set
# CONFIG_GROUPDEL is not set
CONFIG_CHOWN=y
# CONFIG_TR is not set
# CONFIG_MDEV is not set
CONFIG_VMSTAT=y
CONFIG_SKELETON_ALIAS=y
# CONFIG_FSCK is not set
# CONFIG_MKFIFO_Z is not set
# CONFIG_CPIO is not set
CONFIG_PIVOT_ROOT=y
CONFIG_ZCAT=y
CONFIG_SU=y
# CONFIG_FSYNC is not set
# CONFIG_TOYBOX_ON_ANDROID is not set
CONFIG_SYSCTL=y
# CONFIG_IOTOP is not set
# CONFIG_CAT_V is not set
# CONFIG_MKDIR_Z is not set
# CONFIG_PING is not set
CONFIG_NPROC=y
CONFIG_ROUTE=y
CONFIG_LOSETUP=y
CONFIG_TOYBOX_UTMPX=y
# CONFIG_TAR is not set
CONFIG_TOYBOX_LIBZ=y
CONFIG_SH=y
CONFIG_IPCRM=y
# CONFIG_SORT_FLOAT is not set
# CONFIG_COUNT is not set
CONFIG_TOYBOX_ICONV=y
# CONFIG_HELLO is not set
CONFIG_WHOAMI=y
CONFIG_MKE2FS_GEN=y
CONFIG_FTPPUT=y
CONFIG_SETENFORCE=y
CONFIG_TOP=y
# CONFIG_MKE2FS_JOURNAL is not set
CONFIG_TCPSVD=y
CONFIG_TOUCH=y
# CONFIG_LN is not set
# CONFIG_RM is not set
CONFIG_REBOOT=y
# CONFIG_TAIL_SEEK is not set
# CONFIG_DEALLOCVT is not set
# CONFIG_MIX is not set
CONFIG_NETCAT_LISTEN=y
CONFIG_GETENFORCE=y
CONFIG_XARGS_PEDANTIC=y
# CONFIG_FLOCK is not set
# CONFIG_CHVT is not set
# CONFIG_SHA256SUM is not set
# CONFIG_HEXEDIT is not set
# CONFIG_PASSWD_SAD is not set
# CONFIG_UNLINK is not set
# CONFIG_COMM is not set
# CONFIG_PWD is not set
# CONFIG_TOYBOX_MUSL_NOMMU_IS_BROKEN is not set
# CONFIG_DU is not set
# CONFIG_TTY is not set
# CONFIG_TOYBOX_DEBUG is not set
# CONFIG_DEBUG_DHCP is not set
# CONFIG_RENICE is not set
# CONFIG_MKSWAP is not set
# CONFIG_FALLOCATE is not set
# CONFIG_SLEEP is not set
# CONFIG_DHCPD is not set
# CONFIG_MOUNTPOINT is not set
# CONFIG_WHO is not set
# CONFIG_UNIQ is not set
# CONFIG_REALPATH is not set
# CONFIG_CHMOD is not set
# CONFIG_SWAPON is not set
# CONFIG_TOYBOX_FREE is not set
# CONFIG_WC is not set
# CONFIG_LAST is not set
# CONFIG_BRCTL is not set
# CONFIG_INOTIFYD is not set
# CONFIG_PASSWD is not set
# CONFIG_SHRED is not set
# CONFIG_PWDX is not set
# CONFIG_MKPASSWD is not set
# CONFIG_SORT_BIG is not set
# CONFIG_PGREP is not set
# CONFIG_BLKID is not set
# CONFIG_LOGNAME is not set
# CONFIG_SHA384SUM is not set
# CONFIG_TELNET is not set
# CONFIG_NSENTER is not set
# CONFIG_RESTORECON is not set
# CONFIG_MKFIFO is not set
# CONFIG_GROUPADD is not set
# CONFIG_SETSID is not set
# CONFIG_KILLALL5 is not set
# CONFIG_CKSUM is not set
# CONFIG_CD is not set
# CONFIG_PASTE is not set
# CONFIG_HELP_EXTRAS is not set
# CONFIG_UMOUNT is not set
# CONFIG_HEAD is not set
# CONFIG_TOYBOX_PRLIMIT is not set
# CONFIG_IP is not set
# CONFIG_NOHUP is not set
# CONFIG_SED is not set
# CONFIG_RUNCON is not set
# CONFIG_MICROCOM is not set
# CONFIG_CP is not set
# CONFIG_EXPR is not set
# CONFIG_FDISK is not set
# CONFIG_TFTP is not set
# CONFIG_TOYBOX_SUID is not set
# CONFIG_TEE is not set
# CONFIG_START is not set
# CONFIG_SETFATTR is not set
# CONFIG_EXIT is not set
# CONFIG_LSPCI_TEXT is not set
# CONFIG_NICE is not set
# CONFIG_TEST_HUMAN_READABLE is not set
# CONFIG_SHA1SUM is not set
# CONFIG_FOLD is not set
# CONFIG_HOST is not set
# CONFIG_ARP is not set
# CONFIG_DECOMPRESS is not set
# CONFIG_BZCAT is not set
# CONFIG_TOYBOX_HELP_DASHDASH is not set
# CONFIG_DF is not set
# CONFIG_READLINK is not set
# CONFIG_TEST_SCANKEY is not set
# CONFIG_SENDEVENT is not set
# CONFIG_DOS2UNIX is not set
# CONFIG_FSFREEZE is not set
# CONFIG_GETPROP is not set
# CONFIG_TAC is not set
# CONFIG_RMMOD is not set
# CONFIG_GZIP is not set
# CONFIG_SYNC is not set
# CONFIG_PS is not set
# CONFIG_SEQ is not set
# CONFIG_UNIX2DOS is not set
# CONFIG_TEST_MANY_OPTIONS is not set
# CONFIG_IPCS is not set
# CONFIG_SETPROP is not set
# CONFIG_MDEV_CONF is not set
# CONFIG_CATV is not set
# CONFIG_MKDIR is not set
# CONFIG_TOYBOX_ANDROID_SCHEDPOLICY is not set
# CONFIG_TOYBOX_SMACK is not set
# CONFIG_TOYBOX_HELP is not set
# CONFIG_SWITCH_ROOT is not set
# CONFIG_USERADD is not set
# CONFIG_UNSHARE is not set
# CONFIG_UUDECODE is not set
# CONFIG_WHICH is not set
# CONFIG_LOGGER is not set
# CONFIG_TOYBOX_NORECURSE is not set
