CONFIG_KILL=y
CONFIG_TOYBOX_NORECURSE=y
# CONFIG_TOYBOX_CONTAINER is not set
# CONFIG_REBOOT is not set
CONFIG_USERADD=y
CONFIG_OPENVT=y
CONFIG_SWITCH_ROOT=y
CONFIG_WATCH=y
CONFIG_FACTOR=y
CONFIG_GROUPS=y
CONFIG_MKDIR=y
CONFIG_MKNOD_Z=y
CONFIG_TEST_MANY_OPTIONS=y
CONFIG_UNIX2DOS=y
CONFIG_SEQ=y
CONFIG_TOYBOX_FORK=y
CONFIG_LSUSB=y
CONFIG_PS=y
CONFIG_SYNC=y
CONFIG_CHRT=y
CONFIG_RMMOD=y
CONFIG_CMP=y
CONFIG_TAC=y
CONFIG_MV=y
CONFIG_PATCH=y
CONFIG_PKILL=y
CONFIG_MKTEMP=y
# CONFIG_SETENFORCE is not set
# CONFIG_FTPPUT is not set
CONFIG_TRUNCATE=y
CONFIG_DECOMPRESS=y
CONFIG_YES=y
CONFIG_FOLD=y
CONFIG_SHA1SUM=y
CONFIG_TEST_HUMAN_READABLE=y
CONFIG_TOYBOX_SHADOW=y
CONFIG_USLEEP=y
CONFIG_NICE=y
CONFIG_FDISK=y
CONFIG_MOUNT=y
CONFIG_TOYBOX=y
CONFIG_EXPR=y
CONFIG_CP=y
CONFIG_MICROCOM=y
CONFIG_PARTPROBE=y
CONFIG_RUNCON=y
CONFIG_SPLIT=y
# CONFIG_LINK is not set
CONFIG_TOYBOX_SELINUX=y
CONFIG_IP=y
CONFIG_LSPCI=y
CONFIG_HEAD=y
CONFIG_TOYBOX_I18N=y
CONFIG_DIRNAME=y
CONFIG_CLEAR=y
CONFIG_TIMEOUT=y
CONFIG_VI=y
CONFIG_SETSID=y
CONFIG_FGREP=y
CONFIG_TOYBOX_FLOAT=y
CONFIG_ENV=y
CONFIG_TELNET=y
CONFIG_UPTIME=y
CONFIG_LS=y
CONFIG_PRINTF=y
CONFIG_LOGNAME=y
CONFIG_BLKID=y
CONFIG_SORT_BIG=y
CONFIG_SHRED=y
CONFIG_PASSWD=y
CONFIG_INOTIFYD=y
CONFIG_CRONTAB=y
CONFIG_BRCTL=y
CONFIG_MKE2FS_EXTENDED=y
CONFIG_MKE2FS=y
CONFIG_SWAPON=y
CONFIG_CHMOD=y
CONFIG_REALPATH=y
CONFIG_UNIQ=y
CONFIG_TOYBOX_FIFREEZE=y
CONFIG_MKNOD=y
CONFIG_MOUNTPOINT=y
CONFIG_TOYBOX_FALLOCATE=y
CONFIG_SLEEP=y
CONFIG_BASE64=y
CONFIG_KLOGD=y
CONFIG_INSMOD=y
CONFIG_OD=y
CONFIG_TOYBOX_DEBUG=y
CONFIG_DU=y
CONFIG_CROND=y
CONFIG_EGREP=y
CONFIG_BOOTCHARTD=y
CONFIG_COMM=y
CONFIG_ONEIT=y
CONFIG_UNLINK=y
CONFIG_NETCAT=y
CONFIG_PASSWD_SAD=y
CONFIG_SHA256SUM=y
CONFIG_CHVT=y
CONFIG_FLOCK=y
CONFIG_XARGS=y
CONFIG_FSTYPE=y
CONFIG_LSMOD=y
# CONFIG_FREE is not set
CONFIG_INIT=y
# CONFIG_TOYBOX_SMACK is not set
# CONFIG_READAHEAD is not set
CONFIG_BASENAME=y
CONFIG_RM=y
CONFIG_LN=y
CONFIG_ICONV=y
CONFIG_FIND=y
# CONFIG_SKELETON is not set
CONFIG_MODPROBE=y
CONFIG_CUT=y
# CONFIG_CHCON is not set
CONFIG_XXD=y
# CONFIG_TOYBOX_LSM_NONE is not set
# CONFIG_TOUCH is not set
CONFIG_KLOGD_SOURCE_RING_BUFFER=y
CONFIG_COUNT=y
CONFIG_SORT_FLOAT=y
# CONFIG_MKE2FS_GEN is not set
CONFIG_TOYBOX_UID_SYS=100
CONFIG_FALSE=y
# CONFIG_ULIMIT is not set
# CONFIG_DATE is not set
CONFIG_MAKEDEVS=y
CONFIG_PRINTENV=y
CONFIG_TOYBOX_LIBCRYPTO=y
# CONFIG_REV is not set
CONFIG_MKDIR_Z=y
# CONFIG_IPCRM is not set
CONFIG_IOTOP=y
CONFIG_COMPRESS=y
# CONFIG_LSOF is not set
CONFIG_FSYNC=y
# CONFIG_NPROC is not set
CONFIG_TELNETD=y
# CONFIG_SYSCTL is not set
# CONFIG_LOSETUP is not set
# CONFIG_LS_COLOR is not set
# CONFIG_STOP is not set
CONFIG_TOYBOX_UID_USR=500
# CONFIG_SU is not set
CONFIG_MDEV=y
# CONFIG_PIVOT_ROOT is not set
# CONFIG_VMSTAT is not set
CONFIG_CAT=y
CONFIG_SWAPOFF=y
# CONFIG_CHROOT is not set
# CONFIG_IORENICE is not set
CONFIG_GREP=y
CONFIG_BLOCKDEV=y
# CONFIG_UUENCODE is not set
# CONFIG_TUNCTL is not set
CONFIG_TOYBOX_PEDANTIC_ARGS=y
# CONFIG_RMDIR is not set
# CONFIG_DD is not set
# CONFIG_HELP is not set
CONFIG_SLEEP_FLOAT=y
CONFIG_PIDOF=y
# CONFIG_EXPAND is not set
# CONFIG_GROUPDEL is not set
# CONFIG_DHCP is not set
# CONFIG_TR is not set
CONFIG_CHOWN=y
# CONFIG_CHGRP is not set
CONFIG_SKELETON_ALIAS=y
# CONFIG_FSCK is not set
# CONFIG_MKFIFO_Z is not set
# CONFIG_CPIO is not set
# CONFIG_TRUE is not set
CONFIG_NL=y
# CONFIG_ECHO is not set
CONFIG_ZCAT=y
# CONFIG_TOYBOX_ON_ANDROID is not set
CONFIG_DUMPLEASES=y
CONFIG_HOSTNAME=y
# CONFIG_CAT_V is not set
CONFIG_ROUTE=y
# CONFIG_PING is not set
CONFIG_USERDEL=y
CONFIG_TOYBOX_UTMPX=y
CONFIG_TOYBOX_LIBZ=y
# CONFIG_LOGIN is not set
# CONFIG_TAR is not set
CONFIG_SH=y
CONFIG_TOYBOX_ICONV=y
# CONFIG_MD5SUM is not set
CONFIG_WHOAMI=y
CONFIG_GETTY=y
# CONFIG_HELLO is not set
# CONFIG_XZCAT is not set
CONFIG_TOP=y
# CONFIG_MKE2FS_LABEL is not set
CONFIG_EJECT=y
CONFIG_FILE=y
# CONFIG_MKE2FS_JOURNAL is not set
CONFIG_SORT=y
CONFIG_TCPSVD=y
# CONFIG_TAIL_SEEK is not set
# CONFIG_DEALLOCVT is not set
CONFIG_SYSLOGD=y
# CONFIG_MIX is not set
CONFIG_NETCAT_LISTEN=y
CONFIG_GETENFORCE=y
CONFIG_CP_PRESERVE=y
# CONFIG_HEXEDIT is not set
# CONFIG_PWD is not set
# CONFIG_TOYBOX_MUSL_NOMMU_IS_BROKEN is not set
# CONFIG_TTY is not set
CONFIG_PMAP=y
# CONFIG_DEBUG_DHCP is not set
# CONFIG_NETSTAT is not set
# CONFIG_CHATTR is not set
# CONFIG_RENICE is not set
# CONFIG_MKSWAP is not set
# CONFIG_FALLOCATE is not set
# CONFIG_W is not set
# CONFIG_INSTALL is not set
# CONFIG_DHCPD is not set
# CONFIG_SHA224SUM is not set
# CONFIG_KILLALL is not set
# CONFIG_DMESG is not set
# CONFIG_HWCLOCK is not set
# CONFIG_WHO is not set
# CONFIG_TFTPD is not set
# CONFIG_TOYBOX_FREE is not set
# CONFIG_WC is not set
# CONFIG_LAST is not set
# CONFIG_TASKSET is not set
# CONFIG_CAL is not set
# CONFIG_PWDX is not set
# CONFIG_MKPASSWD is not set
# CONFIG_SHA512SUM is not set
# CONFIG_PGREP is not set
# CONFIG_SHA384SUM is not set
# CONFIG_STAT is not set
# CONFIG_NSENTER is not set
# CONFIG_RESTORECON is not set
# CONFIG_MKFIFO is not set
# CONFIG_GROUPADD is not set
# CONFIG_KILLALL5 is not set
# CONFIG_CKSUM is not set
# CONFIG_SULOGIN is not set
# CONFIG_STRINGS is not set
# CONFIG_CD is not set
# CONFIG_PASTE is not set
# CONFIG_HELP_EXTRAS is not set
# CONFIG_UMOUNT is not set
# CONFIG_TOYBOX_PRLIMIT is not set
# CONFIG_NOHUP is not set
# CONFIG_WGET is not set
# CONFIG_RESET is not set
# CONFIG_SED is not set
# CONFIG_HOSTID is not set
# CONFIG_BUNZIP2 is not set
# CONFIG_TFTP is not set
# CONFIG_TOYBOX_SUID is not set
# CONFIG_ID is not set
# CONFIG_TEST is not set
# CONFIG_TEE is not set
# CONFIG_TRACEROUTE is not set
# CONFIG_START is not set
# CONFIG_SETFATTR is not set
# CONFIG_VCONFIG is not set
# CONFIG_EXIT is not set
# CONFIG_GETFATTR is not set
# CONFIG_LSPCI_TEXT is not set
# CONFIG_RFKILL is not set
# CONFIG_HOST is not set
# CONFIG_ID_Z is not set
# CONFIG_ARP is not set
# CONFIG_DIFF is not set
# CONFIG_BZCAT is not set
# CONFIG_TOYBOX_HELP_DASHDASH is not set
# CONFIG_DF is not set
# CONFIG_READLINK is not set
# CONFIG_TEST_SCANKEY is not set
# CONFIG_ACPI is not set
# CONFIG_SENDEVENT is not set
# CONFIG_DOS2UNIX is not set
# CONFIG_FSFREEZE is not set
# CONFIG_GETPROP is not set
# CONFIG_LOAD_POLICY is not set
# CONFIG_ARPING is not set
# CONFIG_UNAME is not set
# CONFIG_GUNZIP is not set
# CONFIG_LOG is not set
# CONFIG_MORE is not set
# CONFIG_TAIL is not set
# CONFIG_FTPGET is not set
# CONFIG_NBD_CLIENT is not set
# CONFIG_XARGS_PEDANTIC is not set
# CONFIG_GZIP is not set
# CONFIG_TEST_UTF8TOWC is not set
# CONFIG_ASCII is not set
# CONFIG_FREERAMDISK is not set
# CONFIG_IPCS is not set
# CONFIG_SETPROP is not set
# CONFIG_MDEV_CONF is not set
# CONFIG_MODINFO is not set
# CONFIG_CATV is not set
# CONFIG_TOYBOX_ANDROID_SCHEDPOLICY is not set
# CONFIG_IFCONFIG is not set
# CONFIG_TOYBOX_HELP is not set
# CONFIG_TIME is not set
# CONFIG_IONICE is not set
# CONFIG_UNSHARE is not set
# CONFIG_UUDECODE is not set
# CONFIG_LSATTR is not set
# CONFIG_DHCP6 is not set
# CONFIG_WHICH is not set
# CONFIG_LOGGER is not set
