CONFIG_KILL=y
CONFIG_DHCP6=y
CONFIG_LSATTR=y
CONFIG_UUDECODE=y
CONFIG_USERADD=y
CONFIG_OPENVT=y
CONFIG_IONICE=y
CONFIG_IFCONFIG=y
CONFIG_MKDIR=y
CONFIG_CATV=y
CONFIG_MODINFO=y
CONFIG_MDEV_CONF=y
CONFIG_MKNOD_Z=y
CONFIG_ASCII=y
CONFIG_TOYBOX_FORK=y
CONFIG_LSUSB=y
CONFIG_PS=y
CONFIG_SYNC=y
CONFIG_GZIP=y
CONFIG_CHRT=y
CONFIG_TAIL=y
CONFIG_MORE=y
CONFIG_CMP=y
CONFIG_UNAME=y
CONFIG_FSFREEZE=y
CONFIG_MV=y
CONFIG_ACPI=y
CONFIG_READLINK=y
CONFIG_BZCAT=y
CONFIG_DIFF=y
CONFIG_TRUNCATE=y
CONFIG_YES=y
CONFIG_ARP=y
CONFIG_SHA1SUM=y
CONFIG_TEST_HUMAN_READABLE=y
CONFIG_TOYBOX_SHADOW=y
CONFIG_NICE=y
CONFIG_LSPCI_TEXT=y
CONFIG_VCONFIG=y
CONFIG_SETFATTR=y
CONFIG_TRACEROUTE=y
CONFIG_TEE=y
CONFIG_TEST=y
CONFIG_TOYBOX_SUID=y
CONFIG_FDISK=y
CONFIG_BUNZIP2=y
CONFIG_MOUNT=y
CONFIG_TOYBOX=y
CONFIG_HOSTID=y
CONFIG_MICROCOM=y
CONFIG_SPLIT=y
CONFIG_RESET=y
CONFIG_WGET=y
CONFIG_TOYBOX_SELINUX=y
CONFIG_NOHUP=y
CONFIG_IP=y
CONFIG_LSPCI=y
CONFIG_HEAD=y
CONFIG_TOYBOX_I18N=y
CONFIG_UMOUNT=y
CONFIG_CLEAR=y
CONFIG_TIMEOUT=y
CONFIG_VI=y
CONFIG_CKSUM=y
CONFIG_SETSID=y
CONFIG_MKFIFO=y
CONFIG_TOYBOX_FLOAT=y
CONFIG_TELNET=y
CONFIG_UPTIME=y
CONFIG_PRINTF=y
CONFIG_LOGNAME=y
CONFIG_BLKID=y
CONFIG_PGREP=y
CONFIG_SORT_BIG=y
CONFIG_PWDX=y
CONFIG_PASSWD=y
CONFIG_INOTIFYD=y
CONFIG_CRONTAB=y
CONFIG_BRCTL=y
CONFIG_WC=y
CONFIG_MKE2FS=y
CONFIG_SWAPON=y
CONFIG_CHMOD=y
CONFIG_TFTPD=y
CONFIG_UNIQ=y
CONFIG_TOYBOX_FIFREEZE=y
CONFIG_WHO=y
CONFIG_HWCLOCK=y
CONFIG_MKNOD=y
CONFIG_MOUNTPOINT=y
CONFIG_TOYBOX_FALLOCATE=y
CONFIG_W=y
CONFIG_BASE64=y
CONFIG_MKSWAP=y
CONFIG_RENICE=y
CONFIG_CHATTR=y
CONFIG_OD=y
CONFIG_TOYBOX_DEBUG=y
CONFIG_CROND=y
CONFIG_BOOTCHARTD=y
CONFIG_ONEIT=y
CONFIG_UNLINK=y
CONFIG_NETCAT=y
CONFIG_PASSWD_SAD=y
# CONFIG_CP_PRESERVE is not set
CONFIG_CHVT=y
# CONFIG_LOG is not set
CONFIG_XARGS=y
CONFIG_FSTYPE=y
# CONFIG_XARGS_PEDANTIC is not set
CONFIG_MIX=y
CONFIG_INIT=y
CONFIG_DEALLOCVT=y
CONFIG_TAIL_SEEK=y
# CONFIG_TIME is not set
# CONFIG_TOYBOX_CONTAINER is not set
# CONFIG_REBOOT is not set
CONFIG_ICONV=y
# CONFIG_TCPSVD is not set
# CONFIG_TOUCH is not set
# CONFIG_TOYBOX_SMACK is not set
# CONFIG_CHCON is not set
CONFIG_XXD=y
# CONFIG_TOYBOX_LSM_NONE is not set
CONFIG_HELLO=y
# CONFIG_CHOWN is not set
CONFIG_SORT_FLOAT=y
CONFIG_MD5SUM=y
CONFIG_TOYBOX_UID_SYS=100
# CONFIG_GETTY is not set
# CONFIG_ULIMIT is not set
CONFIG_LOGIN=y
CONFIG_MAKEDEVS=y
# CONFIG_IPCRM is not set
# CONFIG_SH is not set
CONFIG_PING=y
CONFIG_MKDIR_Z=y
# CONFIG_REV is not set
CONFIG_IOTOP=y
# CONFIG_USERDEL is not set
# CONFIG_LOSETUP is not set
CONFIG_FSYNC=y
# CONFIG_NPROC is not set
# CONFIG_SYSCTL is not set
CONFIG_TRUE=y
# CONFIG_ROUTE is not set
CONFIG_MKFIFO_Z=y
CONFIG_FSCK=y
CONFIG_TOYBOX_UID_USR=500
# CONFIG_PMAP is not set
CONFIG_MDEV=y
# CONFIG_PIVOT_ROOT is not set
# CONFIG_STOP is not set
# CONFIG_LS_COLOR is not set
# CONFIG_VMSTAT is not set
CONFIG_CAT=y
CONFIG_SWAPOFF=y
# CONFIG_PIDOF is not set
CONFIG_DD=y
# CONFIG_IORENICE is not set
# CONFIG_TOYBOX_PEDANTIC_ARGS is not set
# CONFIG_TUNCTL is not set
# CONFIG_UUENCODE is not set
# CONFIG_BLOCKDEV is not set
# CONFIG_GREP is not set
# CONFIG_RMDIR is not set
# CONFIG_SLEEP_FLOAT is not set
# CONFIG_HELP is not set
CONFIG_CHROOT=y
# CONFIG_EXPAND is not set
# CONFIG_GROUPDEL is not set
# CONFIG_DHCP is not set
# CONFIG_TR is not set
CONFIG_SKELETON_ALIAS=y
# CONFIG_CHGRP is not set
CONFIG_NL=y
CONFIG_ZCAT=y
CONFIG_SU=y
# CONFIG_CPIO is not set
CONFIG_DUMPLEASES=y
# CONFIG_TELNETD is not set
# CONFIG_ECHO is not set
CONFIG_HOSTNAME=y
# CONFIG_TOYBOX_ON_ANDROID is not set
# CONFIG_COMPRESS is not set
CONFIG_LSOF=y
# CONFIG_CAT_V is not set
CONFIG_TOYBOX_UTMPX=y
CONFIG_TOYBOX_LIBZ=y
# CONFIG_TOYBOX_LIBCRYPTO is not set
# CONFIG_PRINTENV is not set
CONFIG_LINK=y
CONFIG_TOYBOX_ICONV=y
# CONFIG_TAR is not set
# CONFIG_FALSE is not set
CONFIG_DATE=y
CONFIG_WHOAMI=y
CONFIG_MKE2FS_GEN=y
# CONFIG_COUNT is not set
# CONFIG_KLOGD_SOURCE_RING_BUFFER is not set
CONFIG_FTPPUT=y
# CONFIG_XZCAT is not set
CONFIG_SETENFORCE=y
# CONFIG_MKE2FS_LABEL is not set
# CONFIG_CUT is not set
# CONFIG_MODPROBE is not set
# CONFIG_MKE2FS_JOURNAL is not set
# CONFIG_FIND is not set
CONFIG_TOP=y
# CONFIG_LN is not set
# CONFIG_RM is not set
# CONFIG_BASENAME is not set
CONFIG_FILE=y
CONFIG_SORT=y
CONFIG_SKELETON=y
CONFIG_READAHEAD=y
# CONFIG_LSMOD is not set
CONFIG_SYSLOGD=y
CONFIG_NETCAT_LISTEN=y
# CONFIG_FLOCK is not set
CONFIG_GETENFORCE=y
# CONFIG_SHA256SUM is not set
# CONFIG_HEXEDIT is not set
CONFIG_FREE=y
CONFIG_ARPING=y
# CONFIG_COMM is not set
# CONFIG_EGREP is not set
# CONFIG_PWD is not set
# CONFIG_TOYBOX_MUSL_NOMMU_IS_BROKEN is not set
# CONFIG_DU is not set
# CONFIG_TTY is not set
# CONFIG_DEBUG_DHCP is not set
# CONFIG_NETSTAT is not set
# CONFIG_INSMOD is not set
# CONFIG_KLOGD is not set
# CONFIG_FALLOCATE is not set
# CONFIG_INSTALL is not set
# CONFIG_SLEEP is not set
# CONFIG_DHCPD is not set
# CONFIG_SHA224SUM is not set
# CONFIG_KILLALL is not set
# CONFIG_DMESG is not set
# CONFIG_REALPATH is not set
# CONFIG_TOYBOX_FREE is not set
# CONFIG_MKE2FS_EXTENDED is not set
# CONFIG_LAST is not set
# CONFIG_TASKSET is not set
# CONFIG_CAL is not set
# CONFIG_SHRED is not set
# CONFIG_MKPASSWD is not set
# CONFIG_SHA512SUM is not set
# CONFIG_LS is not set
# CONFIG_SHA384SUM is not set
# CONFIG_STAT is not set
# CONFIG_ENV is not set
# CONFIG_NSENTER is not set
# CONFIG_RESTORECON is not set
# CONFIG_FGREP is not set
# CONFIG_GROUPADD is not set
# CONFIG_KILLALL5 is not set
# CONFIG_SULOGIN is not set
# CONFIG_STRINGS is not set
# CONFIG_CD is not set
# CONFIG_PASTE is not set
# CONFIG_HELP_EXTRAS is not set
# CONFIG_DIRNAME is not set
# CONFIG_TOYBOX_PRLIMIT is not set
# CONFIG_SED is not set
# CONFIG_RUNCON is not set
# CONFIG_PARTPROBE is not set
# CONFIG_CP is not set
# CONFIG_EXPR is not set
# CONFIG_TFTP is not set
# CONFIG_ID is not set
# CONFIG_START is not set
# CONFIG_EXIT is not set
# CONFIG_GETFATTR is not set
# CONFIG_RFKILL is not set
# CONFIG_USLEEP is not set
# CONFIG_FOLD is not set
# CONFIG_HOST is not set
# CONFIG_ID_Z is not set
# CONFIG_DECOMPRESS is not set
# CONFIG_TOYBOX_HELP_DASHDASH is not set
# CONFIG_DF is not set
# CONFIG_MKTEMP is not set
# CONFIG_TEST_SCANKEY is not set
# CONFIG_SENDEVENT is not set
# CONFIG_DOS2UNIX is not set
# CONFIG_PKILL is not set
# CONFIG_PATCH is not set
# CONFIG_GETPROP is not set
# CONFIG_LOAD_POLICY is not set
# CONFIG_TAC is not set
CONFIG_EJECT=y
# CONFIG_GUNZIP is not set
# CONFIG_RMMOD is not set
# CONFIG_FTPGET is not set
# CONFIG_NBD_CLIENT is not set
# CONFIG_TEST_UTF8TOWC is not set
# CONFIG_SEQ is not set
# CONFIG_UNIX2DOS is not set
# CONFIG_TEST_MANY_OPTIONS is not set
# CONFIG_FREERAMDISK is not set
# CONFIG_IPCS is not set
# CONFIG_SETPROP is not set
# CONFIG_TOYBOX_ANDROID_SCHEDPOLICY is not set
# CONFIG_GROUPS is not set
# CONFIG_TOYBOX_HELP is not set
# CONFIG_FACTOR is not set
# CONFIG_WATCH is not set
# CONFIG_SWITCH_ROOT is not set
# CONFIG_UNSHARE is not set
# CONFIG_WHICH is not set
# CONFIG_LOGGER is not set
# CONFIG_TOYBOX_NORECURSE is not set
