CONFIG_KILL=y
CONFIG_TOYBOX_NORECURSE=y
CONFIG_LSATTR=y
CONFIG_USERADD=y
CONFIG_IONICE=y
CONFIG_WATCH=y
CONFIG_GROUPS=y
CONFIG_MODINFO=y
CONFIG_MKNOD_Z=y
CONFIG_FREERAMDISK=y
CONFIG_UNIX2DOS=y
CONFIG_SEQ=y
CONFIG_ASCII=y
CONFIG_TOYBOX_FORK=y
CONFIG_LSUSB=y
CONFIG_PS=y
CONFIG_GZIP=y
CONFIG_NBD_CLIENT=y
CONFIG_RMMOD=y
CONFIG_TAIL=y
CONFIG_MORE=y
CONFIG_GUNZIP=y
CONFIG_UNAME=y
CONFIG_FSFREEZE=y
CONFIG_PATCH=y
CONFIG_DOS2UNIX=y
CONFIG_TEST_SCANKEY=y
CONFIG_MKTEMP=y
CONFIG_DIFF=y
CONFIG_TRUNCATE=y
CONFIG_ARP=y
CONFIG_ID_Z=y
CONFIG_HOST=y
CONFIG_TOYBOX_SHADOW=y
CONFIG_LSPCI_TEXT=y
CONFIG_GETFATTR=y
CONFIG_TEST=y
CONFIG_ID=y
CONFIG_TOYBOX_SUID=y
CONFIG_BUNZIP2=y
CONFIG_MOUNT=y
CONFIG_TOYBOX=y
CONFIG_CP=y
CONFIG_MICROCOM=y
CONFIG_WGET=y
CONFIG_TOYBOX_SELINUX=y
CONFIG_LSPCI=y
CONFIG_TOYBOX_I18N=y
CONFIG_DIRNAME=y
CONFIG_PASTE=y
CONFIG_STRINGS=y
CONFIG_CKSUM=y
CONFIG_KILLALL5=y
CONFIG_SETSID=y
CONFIG_GROUPADD=y
CONFIG_RESTORECON=y
CONFIG_TOYBOX_FLOAT=y
CONFIG_ENV=y
CONFIG_TELNET=y
CONFIG_UPTIME=y
CONFIG_LOGNAME=y
CONFIG_MKPASSWD=y
CONFIG_SHRED=y
CONFIG_BRCTL=y
CONFIG_LAST=y
# CONFIG_NPROC is not set
CONFIG_MKE2FS_EXTENDED=y
CONFIG_MKE2FS=y
# CONFIG_SYSCTL is not set
CONFIG_TFTPD=y
CONFIG_REALPATH=y
CONFIG_TOYBOX_FIFREEZE=y
CONFIG_HWCLOCK=y
CONFIG_MKNOD=y
CONFIG_MOUNTPOINT=y
CONFIG_TOYBOX_FALLOCATE=y
CONFIG_KILLALL=y
# CONFIG_DUMPLEASES is not set
CONFIG_DHCPD=y
CONFIG_W=y
# CONFIG_STOP is not set
CONFIG_KLOGD=y
CONFIG_INSMOD=y
CONFIG_MKSWAP=y
CONFIG_NETSTAT=y
CONFIG_OD=y
CONFIG_TOYBOX_DEBUG=y
# CONFIG_PMAP is not set
CONFIG_CROND=y
CONFIG_PWD=y
# CONFIG_ZCAT is not set
CONFIG_BOOTCHARTD=y
CONFIG_COMM=y
CONFIG_NETCAT=y
# CONFIG_CP_PRESERVE is not set
CONFIG_CHVT=y
CONFIG_FLOCK=y
CONFIG_XARGS=y
CONFIG_FSTYPE=y
CONFIG_LSMOD=y
CONFIG_MIX=y
# CONFIG_TOYBOX_SMACK is not set
# CONFIG_NETCAT_LISTEN is not set
CONFIG_TAIL_SEEK=y
# CONFIG_TIME is not set
# CONFIG_TOYBOX_CONTAINER is not set
# CONFIG_REBOOT is not set
# CONFIG_READAHEAD is not set
# CONFIG_TCPSVD is not set
# CONFIG_SKELETON is not set
# CONFIG_FILE is not set
# CONFIG_TOYBOX_LSM_NONE is not set
CONFIG_XZCAT=y
# CONFIG_EJECT is not set
CONFIG_KLOGD_SOURCE_RING_BUFFER=y
CONFIG_COUNT=y
# CONFIG_GETTY is not set
CONFIG_TOYBOX_UID_SYS=100
# CONFIG_WHOAMI is not set
# CONFIG_ULIMIT is not set
# CONFIG_LINK is not set
# CONFIG_IPCRM is not set
# CONFIG_SH is not set
# CONFIG_REV is not set
CONFIG_IOTOP=y
CONFIG_COMPRESS=y
# CONFIG_LOSETUP is not set
CONFIG_FSYNC=y
CONFIG_ECHO=y
CONFIG_TELNETD=y
CONFIG_TRUE=y
CONFIG_CPIO=y
# CONFIG_LS_COLOR is not set
CONFIG_FSCK=y
CONFIG_TOYBOX_UID_USR=500
CONFIG_CHGRP=y
CONFIG_MDEV=y
CONFIG_TR=y
# CONFIG_NL is not set
# CONFIG_PIVOT_ROOT is not set
# CONFIG_VMSTAT is not set
# CONFIG_CHROOT is not set
CONFIG_SWAPOFF=y
# CONFIG_PIDOF is not set
CONFIG_DD=y
# CONFIG_SLEEP_FLOAT is not set
# CONFIG_TOYBOX_PEDANTIC_ARGS is not set
CONFIG_BLOCKDEV=y
# CONFIG_UUENCODE is not set
CONFIG_TUNCTL=y
# CONFIG_GREP is not set
# CONFIG_RMDIR is not set
CONFIG_IORENICE=y
# CONFIG_HELP is not set
CONFIG_CHOWN=y
# CONFIG_CAT is not set
# CONFIG_EXPAND is not set
# CONFIG_GROUPDEL is not set
# CONFIG_DHCP is not set
CONFIG_SKELETON_ALIAS=y
CONFIG_SU=y
# CONFIG_MKFIFO_Z is not set
CONFIG_HOSTNAME=y
CONFIG_ROUTE=y
# CONFIG_TOYBOX_ON_ANDROID is not set
CONFIG_LSOF=y
CONFIG_USERDEL=y
# CONFIG_CAT_V is not set
# CONFIG_MKDIR_Z is not set
# CONFIG_PING is not set
# CONFIG_TOYBOX_LIBCRYPTO is not set
# CONFIG_PRINTENV is not set
# CONFIG_MAKEDEVS is not set
# CONFIG_LOGIN is not set
# CONFIG_TAR is not set
# CONFIG_FALSE is not set
CONFIG_TOYBOX_UTMPX=y
# CONFIG_MD5SUM is not set
# CONFIG_SORT_FLOAT is not set
CONFIG_TOYBOX_ICONV=y
CONFIG_DATE=y
# CONFIG_HELLO is not set
CONFIG_MKE2FS_GEN=y
# CONFIG_XXD is not set
# CONFIG_MKE2FS_LABEL is not set
# CONFIG_CUT is not set
# CONFIG_MODPROBE is not set
# CONFIG_MKE2FS_JOURNAL is not set
# CONFIG_FIND is not set
# CONFIG_ICONV is not set
# CONFIG_LN is not set
# CONFIG_RM is not set
# CONFIG_BASENAME is not set
CONFIG_CHCON=y
# CONFIG_DEALLOCVT is not set
# CONFIG_INIT is not set
CONFIG_TOUCH=y
CONFIG_SYSLOGD=y
CONFIG_FREE=y
CONFIG_ARPING=y
# CONFIG_SHA256SUM is not set
# CONFIG_HEXEDIT is not set
# CONFIG_PASSWD_SAD is not set
# CONFIG_UNLINK is not set
# CONFIG_ONEIT is not set
# CONFIG_EGREP is not set
# CONFIG_TOYBOX_MUSL_NOMMU_IS_BROKEN is not set
# CONFIG_DU is not set
# CONFIG_TTY is not set
# CONFIG_DEBUG_DHCP is not set
# CONFIG_CHATTR is not set
# CONFIG_RENICE is not set
# CONFIG_FALLOCATE is not set
# CONFIG_BASE64 is not set
# CONFIG_INSTALL is not set
# CONFIG_SLEEP is not set
# CONFIG_SHA224SUM is not set
# CONFIG_DMESG is not set
# CONFIG_WHO is not set
# CONFIG_UNIQ is not set
# CONFIG_CHMOD is not set
# CONFIG_SWAPON is not set
# CONFIG_TOYBOX_FREE is not set
# CONFIG_WC is not set
# CONFIG_TASKSET is not set
# CONFIG_CRONTAB is not set
# CONFIG_INOTIFYD is not set
# CONFIG_CAL is not set
# CONFIG_PASSWD is not set
# CONFIG_PWDX is not set
# CONFIG_SHA512SUM is not set
# CONFIG_SORT_BIG is not set
# CONFIG_PGREP is not set
# CONFIG_BLKID is not set
# CONFIG_PRINTF is not set
# CONFIG_LS is not set
# CONFIG_SHA384SUM is not set
# CONFIG_STAT is not set
# CONFIG_NSENTER is not set
# CONFIG_MKFIFO is not set
# CONFIG_FGREP is not set
# CONFIG_SULOGIN is not set
CONFIG_TOYBOX_LIBZ=y
# CONFIG_VI is not set
# CONFIG_TIMEOUT is not set
# CONFIG_CD is not set
# CONFIG_CLEAR is not set
# CONFIG_HELP_EXTRAS is not set
# CONFIG_UMOUNT is not set
# CONFIG_HEAD is not set
# CONFIG_TOYBOX_PRLIMIT is not set
# CONFIG_IP is not set
# CONFIG_NOHUP is not set
# CONFIG_RESET is not set
# CONFIG_SED is not set
# CONFIG_SPLIT is not set
# CONFIG_RUNCON is not set
# CONFIG_PARTPROBE is not set
# CONFIG_EXPR is not set
# CONFIG_HOSTID is not set
# CONFIG_FDISK is not set
# CONFIG_TFTP is not set
# CONFIG_TEE is not set
# CONFIG_TRACEROUTE is not set
# CONFIG_START is not set
# CONFIG_SETFATTR is not set
# CONFIG_VCONFIG is not set
# CONFIG_EXIT is not set
# CONFIG_RFKILL is not set
# CONFIG_NICE is not set
# CONFIG_USLEEP is not set
# CONFIG_TEST_HUMAN_READABLE is not set
# CONFIG_SHA1SUM is not set
# CONFIG_FOLD is not set
# CONFIG_YES is not set
# CONFIG_DECOMPRESS is not set
# CONFIG_BZCAT is not set
# CONFIG_TOYBOX_HELP_DASHDASH is not set
# CONFIG_DF is not set
# CONFIG_READLINK is not set
CONFIG_FTPPUT=y
CONFIG_SETENFORCE=y
# CONFIG_ACPI is not set
# CONFIG_SENDEVENT is not set
# CONFIG_PKILL is not set
CONFIG_TOP=y
# CONFIG_MV is not set
# CONFIG_GETPROP is not set
# CONFIG_LOAD_POLICY is not set
# CONFIG_TAC is not set
# CONFIG_CMP is not set
# CONFIG_LOG is not set
# CONFIG_FTPGET is not set
# CONFIG_XARGS_PEDANTIC is not set
# CONFIG_CHRT is not set
# CONFIG_SYNC is not set
# CONFIG_TEST_UTF8TOWC is not set
# CONFIG_GETENFORCE is not set
# CONFIG_TEST_MANY_OPTIONS is not set
CONFIG_SORT=y
# CONFIG_IPCS is not set
# CONFIG_SETPROP is not set
# CONFIG_MDEV_CONF is not set
# CONFIG_CATV is not set
# CONFIG_MKDIR is not set
# CONFIG_TOYBOX_ANDROID_SCHEDPOLICY is not set
# CONFIG_IFCONFIG is not set
# CONFIG_TOYBOX_HELP is not set
# CONFIG_FACTOR is not set
# CONFIG_SWITCH_ROOT is not set
# CONFIG_OPENVT is not set
# CONFIG_UNSHARE is not set
# CONFIG_UUDECODE is not set
# CONFIG_DHCP6 is not set
# CONFIG_WHICH is not set
# CONFIG_LOGGER is not set
