CONFIG_KILL=y
CONFIG_LSATTR=y
CONFIG_UUDECODE=y
CONFIG_IONICE=y
CONFIG_SWITCH_ROOT=y
CONFIG_WATCH=y
CONFIG_FACTOR=y
CONFIG_IFCONFIG=y
CONFIG_GROUPS=y
CONFIG_MKDIR=y
CONFIG_MODINFO=y
CONFIG_MKNOD_Z=y
CONFIG_FREERAMDISK=y
CONFIG_ASCII=y
CONFIG_TOYBOX_FORK=y
CONFIG_SYNC=y
CONFIG_TAIL=y
CONFIG_CMP=y
CONFIG_TAC=y
CONFIG_PATCH=y
CONFIG_MKTEMP=y
CONFIG_READLINK=y
CONFIG_DF=y
CONFIG_BZCAT=y
CONFIG_DECOMPRESS=y
CONFIG_YES=y
CONFIG_ARP=y
CONFIG_HOST=y
CONFIG_FOLD=y
CONFIG_SHA1SUM=y
CONFIG_TEST_HUMAN_READABLE=y
CONFIG_TOYBOX_SHADOW=y
CONFIG_LSPCI_TEXT=y
CONFIG_SETFATTR=y
CONFIG_TOYBOX_SUID=y
CONFIG_TFTP=y
CONFIG_FDISK=y
CONFIG_TOYBOX=y
CONFIG_HOSTID=y
CONFIG_CP=y
CONFIG_RUNCON=y
CONFIG_SPLIT=y
CONFIG_WGET=y
CONFIG_TOYBOX_SELINUX=y
CONFIG_LSPCI=y
CONFIG_HEAD=y
CONFIG_DIRNAME=y
CONFIG_PASTE=y
CONFIG_VI=y
CONFIG_SULOGIN=y
CONFIG_FGREP=y
CONFIG_RESTORECON=y
CONFIG_ENV=y
CONFIG_STAT=y
CONFIG_TELNET=y
CONFIG_LS=y
CONFIG_BLKID=y
CONFIG_PGREP=y
CONFIG_MKPASSWD=y
CONFIG_SHRED=y
CONFIG_PASSWD=y
CONFIG_CAL=y
CONFIG_CRONTAB=y
CONFIG_BRCTL=y
CONFIG_WC=y
CONFIG_MKE2FS_EXTENDED=y
CONFIG_MKE2FS=y
CONFIG_TOYBOX_FREE=y
CONFIG_SWAPON=y
CONFIG_CHMOD=y
CONFIG_TFTPD=y
CONFIG_REALPATH=y
CONFIG_UNIQ=y
CONFIG_TOYBOX_FIFREEZE=y
CONFIG_HWCLOCK=y
CONFIG_DMESG=y
CONFIG_MKNOD=y
CONFIG_TOYBOX_FALLOCATE=y
CONFIG_KILLALL=y
CONFIG_DHCPD=y
CONFIG_SLEEP=y
CONFIG_W=y
CONFIG_KLOGD=y
CONFIG_INSMOD=y
CONFIG_MKSWAP=y
CONFIG_RENICE=y
CONFIG_CHATTR=y
CONFIG_NETSTAT=y
CONFIG_DEBUG_DHCP=y
CONFIG_TOYBOX_DEBUG=y
CONFIG_DU=y
CONFIG_CROND=y
CONFIG_PWD=y
CONFIG_EGREP=y
CONFIG_COMM=y
CONFIG_ONEIT=y
CONFIG_HEXEDIT=y
CONFIG_SHA256SUM=y
CONFIG_CHVT=y
# CONFIG_LOG is not set
# CONFIG_XARGS_PEDANTIC is not set
CONFIG_FSTYPE=y
CONFIG_LSMOD=y
CONFIG_MIX=y
# CONFIG_TOYBOX_SMACK is not set
CONFIG_DEALLOCVT=y
# CONFIG_SYSLOGD is not set
CONFIG_BASENAME=y
CONFIG_RM=y
# CONFIG_TOYBOX_CONTAINER is not set
CONFIG_ICONV=y
# CONFIG_TOUCH is not set
# CONFIG_TIME is not set
CONFIG_MODPROBE=y
# CONFIG_CHCON is not set
CONFIG_MKE2FS_LABEL=y
CONFIG_XXD=y
CONFIG_XZCAT=y
CONFIG_HELLO=y
# CONFIG_EJECT is not set
# CONFIG_TOYBOX_LSM_NONE is not set
# CONFIG_FILE is not set
# CONFIG_MKE2FS_GEN is not set
CONFIG_TOYBOX_UID_SYS=100
CONFIG_FALSE=y
CONFIG_TAR=y
CONFIG_LOGIN=y
CONFIG_MAKEDEVS=y
# CONFIG_ULIMIT is not set
CONFIG_TOYBOX_LIBCRYPTO=y
# CONFIG_REV is not set
CONFIG_MKDIR_Z=y
# CONFIG_SH is not set
# CONFIG_DATE is not set
# CONFIG_LSOF is not set
CONFIG_FSYNC=y
CONFIG_ECHO=y
CONFIG_TELNETD=y
# CONFIG_HOSTNAME is not set
CONFIG_CPIO=y
# CONFIG_NPROC is not set
# CONFIG_STOP is not set
CONFIG_TOYBOX_UID_USR=500
# CONFIG_SU is not set
CONFIG_MDEV=y
# CONFIG_ZCAT is not set
# CONFIG_NL is not set
CONFIG_GROUPDEL=y
CONFIG_EXPAND=y
# CONFIG_VMSTAT is not set
# CONFIG_CHOWN is not set
# CONFIG_SKELETON_ALIAS is not set
CONFIG_DD=y
CONFIG_RMDIR=y
CONFIG_GREP=y
CONFIG_BLOCKDEV=y
CONFIG_UUENCODE=y
CONFIG_TUNCTL=y
CONFIG_TOYBOX_PEDANTIC_ARGS=y
# CONFIG_IORENICE is not set
# CONFIG_SLEEP_FLOAT is not set
# CONFIG_HELP is not set
# CONFIG_SWAPOFF is not set
# CONFIG_CAT is not set
CONFIG_PIDOF=y
CONFIG_CHROOT=y
# CONFIG_DHCP is not set
# CONFIG_TR is not set
CONFIG_PIVOT_ROOT=y
# CONFIG_CHGRP is not set
CONFIG_PMAP=y
# CONFIG_FSCK is not set
# CONFIG_MKFIFO_Z is not set
CONFIG_LS_COLOR=y
# CONFIG_TRUE is not set
CONFIG_DUMPLEASES=y
CONFIG_SYSCTL=y
CONFIG_ROUTE=y
# CONFIG_TOYBOX_ON_ANDROID is not set
# CONFIG_COMPRESS is not set
# CONFIG_IOTOP is not set
# CONFIG_CAT_V is not set
CONFIG_USERDEL=y
# CONFIG_PING is not set
CONFIG_LOSETUP=y
# CONFIG_PRINTENV is not set
CONFIG_TOYBOX_UTMPX=y
CONFIG_TOYBOX_LIBZ=y
CONFIG_IPCRM=y
CONFIG_LINK=y
CONFIG_TOYBOX_ICONV=y
# CONFIG_MD5SUM is not set
# CONFIG_SORT_FLOAT is not set
# CONFIG_COUNT is not set
# CONFIG_KLOGD_SOURCE_RING_BUFFER is not set
CONFIG_WHOAMI=y
CONFIG_GETTY=y
CONFIG_FTPPUT=y
CONFIG_SETENFORCE=y
# CONFIG_CUT is not set
CONFIG_TOP=y
# CONFIG_MKE2FS_JOURNAL is not set
# CONFIG_FIND is not set
CONFIG_SORT=y
# CONFIG_LN is not set
CONFIG_SKELETON=y
CONFIG_TCPSVD=y
# CONFIG_TAIL_SEEK is not set
CONFIG_REBOOT=y
# CONFIG_INIT is not set
CONFIG_READAHEAD=y
# CONFIG_XARGS is not set
# CONFIG_FLOCK is not set
CONFIG_CP_PRESERVE=y
# CONFIG_PASSWD_SAD is not set
# CONFIG_NETCAT is not set
# CONFIG_UNLINK is not set
# CONFIG_BOOTCHARTD is not set
# CONFIG_TOYBOX_MUSL_NOMMU_IS_BROKEN is not set
# CONFIG_TTY is not set
# CONFIG_OD is not set
# CONFIG_FALLOCATE is not set
# CONFIG_BASE64 is not set
# CONFIG_INSTALL is not set
# CONFIG_SHA224SUM is not set
# CONFIG_MOUNTPOINT is not set
# CONFIG_WHO is not set
# CONFIG_LAST is not set
# CONFIG_TASKSET is not set
# CONFIG_INOTIFYD is not set
# CONFIG_PWDX is not set
# CONFIG_SHA512SUM is not set
# CONFIG_SORT_BIG is not set
# CONFIG_LOGNAME is not set
# CONFIG_PRINTF is not set
# CONFIG_UPTIME is not set
# CONFIG_SHA384SUM is not set
# CONFIG_TOYBOX_FLOAT is not set
# CONFIG_NSENTER is not set
# CONFIG_MKFIFO is not set
# CONFIG_GROUPADD is not set
# CONFIG_SETSID is not set
# CONFIG_KILLALL5 is not set
# CONFIG_CKSUM is not set
# CONFIG_STRINGS is not set
# CONFIG_TIMEOUT is not set
# CONFIG_CD is not set
# CONFIG_CLEAR is not set
# CONFIG_HELP_EXTRAS is not set
# CONFIG_UMOUNT is not set
# CONFIG_TOYBOX_I18N is not set
# CONFIG_TOYBOX_PRLIMIT is not set
# CONFIG_IP is not set
# CONFIG_NOHUP is not set
# CONFIG_RESET is not set
# CONFIG_SED is not set
# CONFIG_PARTPROBE is not set
# CONFIG_MICROCOM is not set
# CONFIG_EXPR is not set
# CONFIG_MOUNT is not set
# CONFIG_BUNZIP2 is not set
# CONFIG_ID is not set
# CONFIG_TEST is not set
# CONFIG_TEE is not set
# CONFIG_TRACEROUTE is not set
# CONFIG_START is not set
# CONFIG_VCONFIG is not set
# CONFIG_EXIT is not set
# CONFIG_GETFATTR is not set
# CONFIG_RFKILL is not set
# CONFIG_NICE is not set
# CONFIG_USLEEP is not set
# CONFIG_ID_Z is not set
# CONFIG_TRUNCATE is not set
# CONFIG_DIFF is not set
# CONFIG_TOYBOX_HELP_DASHDASH is not set
# CONFIG_TEST_SCANKEY is not set
# CONFIG_ACPI is not set
# CONFIG_SENDEVENT is not set
# CONFIG_DOS2UNIX is not set
# CONFIG_PKILL is not set
# CONFIG_MV is not set
# CONFIG_FSFREEZE is not set
# CONFIG_GETPROP is not set
# CONFIG_LOAD_POLICY is not set
# CONFIG_ARPING is not set
# CONFIG_UNAME is not set
# CONFIG_GUNZIP is not set
# CONFIG_MORE is not set
# CONFIG_RMMOD is not set
# CONFIG_FTPGET is not set
# CONFIG_NBD_CLIENT is not set
# CONFIG_CHRT is not set
# CONFIG_GZIP is not set
# CONFIG_PS is not set
# CONFIG_LSUSB is not set
# CONFIG_TEST_UTF8TOWC is not set
# CONFIG_FREE is not set
# CONFIG_SEQ is not set
# CONFIG_UNIX2DOS is not set
# CONFIG_TEST_MANY_OPTIONS is not set
# CONFIG_GETENFORCE is not set
# CONFIG_IPCS is not set
# CONFIG_SETPROP is not set
# CONFIG_NETCAT_LISTEN is not set
# CONFIG_MDEV_CONF is not set
# CONFIG_CATV is not set
# CONFIG_TOYBOX_ANDROID_SCHEDPOLICY is not set
# CONFIG_TOYBOX_HELP is not set
# CONFIG_OPENVT is not set
# CONFIG_USERADD is not set
# CONFIG_UNSHARE is not set
# CONFIG_DHCP6 is not set
# CONFIG_WHICH is not set
# CONFIG_LOGGER is not set
# CONFIG_TOYBOX_NORECURSE is not set
