CONFIG_WHICH=y
# CONFIG_REBOOT is not set
CONFIG_SWITCH_ROOT=y
# CONFIG_TOUCH is not set
CONFIG_TOYBOX_HELP=y
CONFIG_CATV=y
CONFIG_MKNOD_Z=y
CONFIG_TOYBOX_FORK=y
CONFIG_LSUSB=y
CONFIG_RMMOD=y
CONFIG_TAIL=y
CONFIG_GUNZIP=y
CONFIG_TAC=y
CONFIG_FSFREEZE=y
CONFIG_PKILL=y
CONFIG_DOS2UNIX=y
CONFIG_TEST_SCANKEY=y
CONFIG_MKTEMP=y
CONFIG_READLINK=y
CONFIG_TOYBOX_HELP_DASHDASH=y
CONFIG_BZCAT=y
CONFIG_DIFF=y
CONFIG_TRUNCATE=y
CONFIG_ID_Z=y
CONFIG_FOLD=y
CONFIG_SHA1SUM=y
CONFIG_TEST_HUMAN_READABLE=y
CONFIG_TOYBOX_SHADOW=y
CONFIG_RFKILL=y
CONFIG_SETFATTR=y
CONFIG_TEE=y
CONFIG_TEST=y
CONFIG_ID=y
CONFIG_BUNZIP2=y
CONFIG_TOYBOX=y
CONFIG_HOSTID=y
CONFIG_CP=y
CONFIG_MICROCOM=y
CONFIG_PARTPROBE=y
CONFIG_RUNCON=y
# CONFIG_LINK is not set
CONFIG_RESET=y
CONFIG_WGET=y
CONFIG_TOYBOX_SELINUX=y
CONFIG_NOHUP=y
CONFIG_IP=y
# CONFIG_IPCRM is not set
CONFIG_LSPCI=y
CONFIG_HEAD=y
CONFIG_UMOUNT=y
CONFIG_DIRNAME=y
CONFIG_HELP_EXTRAS=y
CONFIG_CLEAR=y
CONFIG_VI=y
CONFIG_STRINGS=y
CONFIG_SULOGIN=y
CONFIG_GROUPADD=y
CONFIG_FGREP=y
CONFIG_MKFIFO=y
CONFIG_TOYBOX_FLOAT=y
CONFIG_ENV=y
CONFIG_STAT=y
CONFIG_TELNET=y
CONFIG_PRINTF=y
CONFIG_LOGNAME=y
CONFIG_BLKID=y
CONFIG_SHA512SUM=y
CONFIG_PWDX=y
CONFIG_SHRED=y
CONFIG_PASSWD=y
# CONFIG_ROUTE is not set
# CONFIG_NPROC is not set
CONFIG_MKE2FS=y
CONFIG_TOYBOX_FREE=y
CONFIG_SWAPON=y
CONFIG_CHMOD=y
# CONFIG_SYSCTL is not set
CONFIG_UNIQ=y
CONFIG_TOYBOX_FIFREEZE=y
CONFIG_WHO=y
CONFIG_HWCLOCK=y
CONFIG_DMESG=y
CONFIG_MKNOD=y
CONFIG_TOYBOX_FALLOCATE=y
CONFIG_SHA224SUM=y
CONFIG_DHCPD=y
CONFIG_SLEEP=y
# CONFIG_LS_COLOR is not set
CONFIG_W=y
CONFIG_FALLOCATE=y
CONFIG_MKSWAP=y
CONFIG_RENICE=y
CONFIG_CHATTR=y
CONFIG_TOYBOX_DEBUG=y
CONFIG_TTY=y
CONFIG_DU=y
CONFIG_CROND=y
CONFIG_PWD=y
CONFIG_EGREP=y
CONFIG_BOOTCHARTD=y
CONFIG_ONEIT=y
CONFIG_UNLINK=y
CONFIG_NETCAT=y
CONFIG_SHA256SUM=y
CONFIG_CHVT=y
# CONFIG_LOG is not set
CONFIG_XARGS=y
# CONFIG_XARGS_PEDANTIC is not set
CONFIG_LSMOD=y
CONFIG_MIX=y
CONFIG_INIT=y
# CONFIG_SYSLOGD is not set
# CONFIG_TOYBOX_SMACK is not set
# CONFIG_TIME is not set
# CONFIG_TOYBOX_CONTAINER is not set
CONFIG_LN=y
CONFIG_ICONV=y
CONFIG_FIND=y
CONFIG_MKE2FS_JOURNAL=y
CONFIG_MODPROBE=y
# CONFIG_SORT is not set
CONFIG_MKE2FS_LABEL=y
# CONFIG_TOYBOX_LSM_NONE is not set
CONFIG_XZCAT=y
CONFIG_HELLO=y
# CONFIG_FILE is not set
CONFIG_COUNT=y
CONFIG_MD5SUM=y
CONFIG_TOYBOX_UID_SYS=100
# CONFIG_ULIMIT is not set
CONFIG_MAKEDEVS=y
CONFIG_PRINTENV=y
CONFIG_TOYBOX_LIBCRYPTO=y
CONFIG_PING=y
# CONFIG_SH is not set
CONFIG_CAT_V=y
CONFIG_IOTOP=y
# CONFIG_USERDEL is not set
# CONFIG_LOSETUP is not set
CONFIG_FSYNC=y
CONFIG_ECHO=y
CONFIG_TELNETD=y
# CONFIG_HOSTNAME is not set
CONFIG_CPIO=y
CONFIG_MKFIFO_Z=y
CONFIG_FSCK=y
CONFIG_TOYBOX_UID_USR=500
# CONFIG_STOP is not set
# CONFIG_ZCAT is not set
# CONFIG_PIVOT_ROOT is not set
# CONFIG_NL is not set
CONFIG_GROUPDEL=y
# CONFIG_SKELETON_ALIAS is not set
CONFIG_CAT=y
# CONFIG_CHROOT is not set
CONFIG_HELP=y
# CONFIG_IORENICE is not set
CONFIG_GREP=y
CONFIG_BLOCKDEV=y
# CONFIG_UUENCODE is not set
# CONFIG_TUNCTL is not set
# CONFIG_TOYBOX_PEDANTIC_ARGS is not set
# CONFIG_RMDIR is not set
# CONFIG_DD is not set
CONFIG_SLEEP_FLOAT=y
# CONFIG_SWAPOFF is not set
CONFIG_PIDOF=y
# CONFIG_EXPAND is not set
CONFIG_CHOWN=y
# CONFIG_DHCP is not set
# CONFIG_TR is not set
# CONFIG_MDEV is not set
# CONFIG_CHGRP is not set
CONFIG_VMSTAT=y
CONFIG_PMAP=y
CONFIG_SU=y
CONFIG_DUMPLEASES=y
# CONFIG_TRUE is not set
# CONFIG_TOYBOX_ON_ANDROID is not set
# CONFIG_COMPRESS is not set
CONFIG_LSOF=y
CONFIG_TOYBOX_UTMPX=y
# CONFIG_MKDIR_Z is not set
CONFIG_TOYBOX_LIBZ=y
CONFIG_REV=y
# CONFIG_LOGIN is not set
# CONFIG_TAR is not set
# CONFIG_FALSE is not set
CONFIG_TOYBOX_ICONV=y
CONFIG_DATE=y
# CONFIG_SORT_FLOAT is not set
CONFIG_WHOAMI=y
# CONFIG_KLOGD_SOURCE_RING_BUFFER is not set
CONFIG_MKE2FS_GEN=y
CONFIG_GETTY=y
# CONFIG_XXD is not set
CONFIG_FTPPUT=y
# CONFIG_CUT is not set
CONFIG_SETENFORCE=y
CONFIG_TOP=y
CONFIG_EJECT=y
CONFIG_CHCON=y
CONFIG_SKELETON=y
# CONFIG_RM is not set
# CONFIG_BASENAME is not set
# CONFIG_TAIL_SEEK is not set
# CONFIG_DEALLOCVT is not set
CONFIG_TCPSVD=y
CONFIG_READAHEAD=y
# CONFIG_FSTYPE is not set
CONFIG_FREE=y
# CONFIG_FLOCK is not set
# CONFIG_HEXEDIT is not set
# CONFIG_PASSWD_SAD is not set
# CONFIG_COMM is not set
# CONFIG_TOYBOX_MUSL_NOMMU_IS_BROKEN is not set
# CONFIG_DEBUG_DHCP is not set
# CONFIG_OD is not set
# CONFIG_NETSTAT is not set
# CONFIG_INSMOD is not set
# CONFIG_KLOGD is not set
# CONFIG_BASE64 is not set
# CONFIG_INSTALL is not set
# CONFIG_KILLALL is not set
# CONFIG_MOUNTPOINT is not set
# CONFIG_REALPATH is not set
# CONFIG_TFTPD is not set
# CONFIG_MKE2FS_EXTENDED is not set
# CONFIG_WC is not set
# CONFIG_LAST is not set
# CONFIG_BRCTL is not set
# CONFIG_TASKSET is not set
# CONFIG_CRONTAB is not set
# CONFIG_INOTIFYD is not set
# CONFIG_CAL is not set
# CONFIG_MKPASSWD is not set
# CONFIG_SORT_BIG is not set
# CONFIG_PGREP is not set
# CONFIG_LS is not set
# CONFIG_UPTIME is not set
# CONFIG_SHA384SUM is not set
# CONFIG_NSENTER is not set
# CONFIG_RESTORECON is not set
# CONFIG_SETSID is not set
# CONFIG_KILLALL5 is not set
# CONFIG_CKSUM is not set
# CONFIG_TIMEOUT is not set
# CONFIG_CD is not set
# CONFIG_PASTE is not set
# CONFIG_TOYBOX_I18N is not set
# CONFIG_TOYBOX_PRLIMIT is not set
# CONFIG_SED is not set
# CONFIG_SPLIT is not set
# CONFIG_EXPR is not set
# CONFIG_MOUNT is not set
# CONFIG_FDISK is not set
# CONFIG_TFTP is not set
# CONFIG_TOYBOX_SUID is not set
# CONFIG_TRACEROUTE is not set
# CONFIG_START is not set
# CONFIG_VCONFIG is not set
# CONFIG_EXIT is not set
# CONFIG_GETFATTR is not set
# CONFIG_LSPCI_TEXT is not set
# CONFIG_NICE is not set
# CONFIG_USLEEP is not set
# CONFIG_HOST is not set
# CONFIG_ARP is not set
# CONFIG_YES is not set
# CONFIG_DECOMPRESS is not set
# CONFIG_DF is not set
# CONFIG_ACPI is not set
# CONFIG_SENDEVENT is not set
# CONFIG_CP_PRESERVE is not set
# CONFIG_PATCH is not set
# CONFIG_MV is not set
# CONFIG_GETPROP is not set
# CONFIG_LOAD_POLICY is not set
# CONFIG_ARPING is not set
# CONFIG_UNAME is not set
# CONFIG_CMP is not set
# CONFIG_MORE is not set
# CONFIG_FTPGET is not set
# CONFIG_NBD_CLIENT is not set
# CONFIG_CHRT is not set
# CONFIG_GZIP is not set
# CONFIG_SYNC is not set
# CONFIG_PS is not set
# CONFIG_TEST_UTF8TOWC is not set
# CONFIG_ASCII is not set
# CONFIG_SEQ is not set
# CONFIG_UNIX2DOS is not set
# CONFIG_TEST_MANY_OPTIONS is not set
# CONFIG_FREERAMDISK is not set
# CONFIG_IPCS is not set
# CONFIG_SETPROP is not set
# CONFIG_NETCAT_LISTEN is not set
# CONFIG_MDEV_CONF is not set
# CONFIG_MODINFO is not set
# CONFIG_GETENFORCE is not set
# CONFIG_MKDIR is not set
# CONFIG_TOYBOX_ANDROID_SCHEDPOLICY is not set
# CONFIG_GROUPS is not set
# CONFIG_IFCONFIG is not set
# CONFIG_FACTOR is not set
# CONFIG_WATCH is not set
# CONFIG_IONICE is not set
# CONFIG_OPENVT is not set
# CONFIG_USERADD is not set
# CONFIG_UNSHARE is not set
# CONFIG_UUDECODE is not set
# CONFIG_LSATTR is not set
# CONFIG_DHCP6 is not set
# CONFIG_TOYBOX_NORECURSE is not set
# CONFIG_LOGGER is not set
# CONFIG_KILL is not set
