CONFIG_KILL=y
CONFIG_TOYBOX_NORECURSE=y
CONFIG_WHICH=y
CONFIG_LSATTR=y
CONFIG_UUDECODE=y
CONFIG_IONICE=y
CONFIG_WATCH=y
CONFIG_TOYBOX_HELP=y
CONFIG_MKNOD_Z=y
CONFIG_IPCS=y
CONFIG_FREERAMDISK=y
CONFIG_TEST_MANY_OPTIONS=y
CONFIG_TOYBOX_FORK=y
CONFIG_TEST_UTF8TOWC=y
CONFIG_SYNC=y
CONFIG_FTPGET=y
CONFIG_TAIL=y
CONFIG_UNAME=y
CONFIG_MV=y
CONFIG_PATCH=y
CONFIG_DOS2UNIX=y
CONFIG_ACPI=y
CONFIG_READLINK=y
CONFIG_DIFF=y
CONFIG_TRUNCATE=y
CONFIG_DECOMPRESS=y
CONFIG_YES=y
CONFIG_ARP=y
CONFIG_HOST=y
CONFIG_SHA1SUM=y
CONFIG_TEST_HUMAN_READABLE=y
CONFIG_TOYBOX_SHADOW=y
CONFIG_USLEEP=y
CONFIG_NICE=y
CONFIG_GETFATTR=y
CONFIG_TEE=y
CONFIG_TEST=y
CONFIG_FDISK=y
CONFIG_TOYBOX=y
CONFIG_SED=y
CONFIG_WGET=y
CONFIG_TOYBOX_SELINUX=y
CONFIG_TOYBOX_I18N=y
CONFIG_HELP_EXTRAS=y
CONFIG_CLEAR=y
CONFIG_TIMEOUT=y
CONFIG_STRINGS=y
CONFIG_CKSUM=y
CONFIG_FGREP=y
CONFIG_MKFIFO=y
CONFIG_TOYBOX_FLOAT=y
CONFIG_ENV=y
CONFIG_TELNET=y
CONFIG_SHA384SUM=y
CONFIG_PRINTF=y
CONFIG_SHA512SUM=y
CONFIG_PWDX=y
CONFIG_CAL=y
CONFIG_TASKSET=y
CONFIG_BRCTL=y
CONFIG_WC=y
CONFIG_MKE2FS_EXTENDED=y
CONFIG_MKE2FS=y
CONFIG_TOYBOX_FREE=y
CONFIG_TFTPD=y
# CONFIG_HOSTNAME is not set
CONFIG_TOYBOX_FIFREEZE=y
CONFIG_MKNOD=y
CONFIG_MOUNTPOINT=y
CONFIG_TOYBOX_FALLOCATE=y
CONFIG_KILLALL=y
CONFIG_SHA224SUM=y
CONFIG_DHCPD=y
CONFIG_SLEEP=y
# CONFIG_LS_COLOR is not set
# CONFIG_DUMPLEASES is not set
CONFIG_BASE64=y
CONFIG_CHATTR=y
CONFIG_NETSTAT=y
CONFIG_TTY=y
CONFIG_CROND=y
CONFIG_EGREP=y
CONFIG_ONEIT=y
CONFIG_UNLINK=y
CONFIG_HEXEDIT=y
CONFIG_SHA256SUM=y
# CONFIG_ARPING is not set
# CONFIG_LOG is not set
CONFIG_XARGS=y
# CONFIG_CP_PRESERVE is not set
CONFIG_LSMOD=y
CONFIG_MIX=y
CONFIG_INIT=y
CONFIG_DEALLOCVT=y
CONFIG_TAIL_SEEK=y
CONFIG_BASENAME=y
CONFIG_RM=y
CONFIG_LN=y
CONFIG_ICONV=y
# CONFIG_TOYBOX_CONTAINER is not set
# CONFIG_SKELETON is not set
# CONFIG_TIME is not set
# CONFIG_READAHEAD is not set
CONFIG_MKE2FS_LABEL=y
# CONFIG_TOYBOX_LSM_NONE is not set
CONFIG_XZCAT=y
# CONFIG_TOP is not set
# CONFIG_CHOWN is not set
CONFIG_MD5SUM=y
CONFIG_TOYBOX_UID_SYS=100
# CONFIG_MKE2FS_GEN is not set
CONFIG_TAR=y
CONFIG_LOGIN=y
# CONFIG_ULIMIT is not set
CONFIG_PRINTENV=y
CONFIG_TOYBOX_LIBCRYPTO=y
CONFIG_PING=y
CONFIG_CAT_V=y
CONFIG_COMPRESS=y
CONFIG_ECHO=y
# CONFIG_SYSCTL is not set
CONFIG_TRUE=y
CONFIG_CPIO=y
CONFIG_MKFIFO_Z=y
# CONFIG_STOP is not set
CONFIG_TOYBOX_UID_USR=500
CONFIG_CHGRP=y
# CONFIG_ZCAT is not set
CONFIG_TR=y
# CONFIG_PIVOT_ROOT is not set
# CONFIG_PMAP is not set
# CONFIG_SU is not set
CONFIG_CAT=y
CONFIG_SWAPOFF=y
CONFIG_HELP=y
# CONFIG_PIDOF is not set
CONFIG_RMDIR=y
CONFIG_GREP=y
# CONFIG_TUNCTL is not set
CONFIG_UUENCODE=y
# CONFIG_BLOCKDEV is not set
# CONFIG_TOYBOX_PEDANTIC_ARGS is not set
CONFIG_IORENICE=y
# CONFIG_DD is not set
CONFIG_SLEEP_FLOAT=y
CONFIG_CHROOT=y
# CONFIG_EXPAND is not set
# CONFIG_GROUPDEL is not set
# CONFIG_DHCP is not set
CONFIG_VMSTAT=y
# CONFIG_MDEV is not set
CONFIG_SKELETON_ALIAS=y
CONFIG_NL=y
# CONFIG_FSCK is not set
# CONFIG_TELNETD is not set
CONFIG_NPROC=y
# CONFIG_FSYNC is not set
# CONFIG_TOYBOX_ON_ANDROID is not set
CONFIG_ROUTE=y
# CONFIG_IOTOP is not set
CONFIG_LSOF=y
# CONFIG_MKDIR_Z is not set
CONFIG_USERDEL=y
CONFIG_LOSETUP=y
CONFIG_TOYBOX_UTMPX=y
# CONFIG_MAKEDEVS is not set
CONFIG_TOYBOX_LIBZ=y
CONFIG_REV=y
# CONFIG_FALSE is not set
CONFIG_SH=y
CONFIG_IPCRM=y
# CONFIG_SORT_FLOAT is not set
# CONFIG_COUNT is not set
# CONFIG_KLOGD_SOURCE_RING_BUFFER is not set
# CONFIG_HELLO is not set
CONFIG_TOYBOX_ICONV=y
# CONFIG_XXD is not set
CONFIG_DATE=y
# CONFIG_CUT is not set
# CONFIG_MODPROBE is not set
# CONFIG_MKE2FS_JOURNAL is not set
# CONFIG_FIND is not set
CONFIG_SETENFORCE=y
CONFIG_EJECT=y
CONFIG_FILE=y
CONFIG_CHCON=y
CONFIG_SORT=y
CONFIG_TCPSVD=y
CONFIG_TOUCH=y
CONFIG_REBOOT=y
CONFIG_GETENFORCE=y
# CONFIG_FSTYPE is not set
CONFIG_FREE=y
# CONFIG_FLOCK is not set
# CONFIG_CHVT is not set
CONFIG_XARGS_PEDANTIC=y
# CONFIG_PASSWD_SAD is not set
# CONFIG_NETCAT is not set
# CONFIG_COMM is not set
# CONFIG_BOOTCHARTD is not set
# CONFIG_PWD is not set
# CONFIG_TOYBOX_MUSL_NOMMU_IS_BROKEN is not set
# CONFIG_DU is not set
# CONFIG_TOYBOX_DEBUG is not set
# CONFIG_DEBUG_DHCP is not set
# CONFIG_OD is not set
# CONFIG_RENICE is not set
# CONFIG_MKSWAP is not set
# CONFIG_INSMOD is not set
# CONFIG_KLOGD is not set
# CONFIG_FALLOCATE is not set
# CONFIG_W is not set
# CONFIG_INSTALL is not set
# CONFIG_DMESG is not set
# CONFIG_HWCLOCK is not set
# CONFIG_WHO is not set
# CONFIG_UNIQ is not set
# CONFIG_REALPATH is not set
# CONFIG_CHMOD is not set
# CONFIG_SWAPON is not set
# CONFIG_LAST is not set
# CONFIG_CRONTAB is not set
# CONFIG_INOTIFYD is not set
# CONFIG_PASSWD is not set
# CONFIG_SHRED is not set
# CONFIG_MKPASSWD is not set
# CONFIG_SORT_BIG is not set
# CONFIG_PGREP is not set
# CONFIG_BLKID is not set
# CONFIG_LOGNAME is not set
# CONFIG_LS is not set
# CONFIG_UPTIME is not set
# CONFIG_STAT is not set
# CONFIG_NSENTER is not set
# CONFIG_RESTORECON is not set
# CONFIG_GROUPADD is not set
# CONFIG_SETSID is not set
# CONFIG_KILLALL5 is not set
# CONFIG_SULOGIN is not set
# CONFIG_VI is not set
# CONFIG_CD is not set
# CONFIG_PASTE is not set
# CONFIG_DIRNAME is not set
# CONFIG_UMOUNT is not set
# CONFIG_HEAD is not set
# CONFIG_LSPCI is not set
# CONFIG_TOYBOX_PRLIMIT is not set
# CONFIG_IP is not set
# CONFIG_NOHUP is not set
# CONFIG_RESET is not set
# CONFIG_SPLIT is not set
# CONFIG_RUNCON is not set
# CONFIG_PARTPROBE is not set
# CONFIG_MICROCOM is not set
# CONFIG_CP is not set
# CONFIG_EXPR is not set
# CONFIG_HOSTID is not set
CONFIG_LINK=y
# CONFIG_MOUNT is not set
# CONFIG_BUNZIP2 is not set
# CONFIG_TFTP is not set
# CONFIG_TOYBOX_SUID is not set
# CONFIG_ID is not set
# CONFIG_TRACEROUTE is not set
# CONFIG_START is not set
# CONFIG_SETFATTR is not set
# CONFIG_VCONFIG is not set
# CONFIG_EXIT is not set
# CONFIG_LSPCI_TEXT is not set
# CONFIG_RFKILL is not set
CONFIG_WHOAMI=y
# CONFIG_FOLD is not set
# CONFIG_ID_Z is not set
CONFIG_GETTY=y
# CONFIG_BZCAT is not set
# CONFIG_TOYBOX_HELP_DASHDASH is not set
# CONFIG_DF is not set
CONFIG_FTPPUT=y
# CONFIG_MKTEMP is not set
# CONFIG_TEST_SCANKEY is not set
# CONFIG_SENDEVENT is not set
# CONFIG_PKILL is not set
# CONFIG_FSFREEZE is not set
# CONFIG_GETPROP is not set
# CONFIG_LOAD_POLICY is not set
# CONFIG_TAC is not set
# CONFIG_GUNZIP is not set
# CONFIG_CMP is not set
# CONFIG_MORE is not set
# CONFIG_RMMOD is not set
# CONFIG_NBD_CLIENT is not set
# CONFIG_CHRT is not set
# CONFIG_GZIP is not set
# CONFIG_PS is not set
# CONFIG_LSUSB is not set
# CONFIG_ASCII is not set
# CONFIG_SEQ is not set
# CONFIG_UNIX2DOS is not set
# CONFIG_SETPROP is not set
# CONFIG_NETCAT_LISTEN is not set
# CONFIG_MDEV_CONF is not set
# CONFIG_MODINFO is not set
# CONFIG_CATV is not set
# CONFIG_MKDIR is not set
# CONFIG_TOYBOX_ANDROID_SCHEDPOLICY is not set
# CONFIG_GROUPS is not set
# CONFIG_IFCONFIG is not set
# CONFIG_TOYBOX_SMACK is not set
# CONFIG_FACTOR is not set
# CONFIG_SYSLOGD is not set
# CONFIG_SWITCH_ROOT is not set
# CONFIG_OPENVT is not set
# CONFIG_USERADD is not set
# CONFIG_UNSHARE is not set
# CONFIG_DHCP6 is not set
# CONFIG_LOGGER is not set
