CONFIG_TOYBOX_NORECURSE=y
CONFIG_WHICH=y
CONFIG_DHCP6=y
CONFIG_UUDECODE=y
CONFIG_USERADD=y
CONFIG_OPENVT=y
CONFIG_IONICE=y
CONFIG_SWITCH_ROOT=y
CONFIG_FACTOR=y
CONFIG_TOYBOX_HELP=y
CONFIG_GROUPS=y
# CONFIG_TCPSVD is not set
CONFIG_MKDIR=y
CONFIG_CATV=y
# CONFIG_SKELETON is not set
CONFIG_FREERAMDISK=y
CONFIG_TEST_MANY_OPTIONS=y
CONFIG_UNIX2DOS=y
CONFIG_SEQ=y
CONFIG_TOYBOX_FORK=y
# CONFIG_CHCON is not set
CONFIG_PS=y
CONFIG_SYNC=y
CONFIG_CHRT=y
CONFIG_NBD_CLIENT=y
CONFIG_FTPGET=y
CONFIG_TAIL=y
# CONFIG_TOYBOX_LSM_NONE is not set
CONFIG_UNAME=y
CONFIG_TAC=y
CONFIG_PATCH=y
CONFIG_ACPI=y
CONFIG_TEST_SCANKEY=y
CONFIG_MKTEMP=y
CONFIG_DF=y
CONFIG_BZCAT=y
CONFIG_DECOMPRESS=y
CONFIG_YES=y
CONFIG_ID_Z=y
CONFIG_HOST=y
CONFIG_TOYBOX_SHADOW=y
CONFIG_NICE=y
CONFIG_RFKILL=y
CONFIG_GETFATTR=y
CONFIG_VCONFIG=y
CONFIG_TRACEROUTE=y
CONFIG_TEE=y
CONFIG_ID=y
CONFIG_TOYBOX_SUID=y
CONFIG_BUNZIP2=y
CONFIG_TOYBOX=y
CONFIG_HOSTID=y
CONFIG_MICROCOM=y
CONFIG_PARTPROBE=y
CONFIG_SPLIT=y
CONFIG_WGET=y
CONFIG_TOYBOX_SELINUX=y
CONFIG_UMOUNT=y
CONFIG_DIRNAME=y
CONFIG_PASTE=y
CONFIG_SULOGIN=y
CONFIG_FGREP=y
CONFIG_MKFIFO=y
CONFIG_RESTORECON=y
CONFIG_TOYBOX_FLOAT=y
CONFIG_ENV=y
CONFIG_SHA384SUM=y
CONFIG_UPTIME=y
CONFIG_LS=y
CONFIG_LOGNAME=y
CONFIG_BLKID=y
CONFIG_SHA512SUM=y
CONFIG_SHRED=y
CONFIG_INOTIFYD=y
CONFIG_CRONTAB=y
CONFIG_TASKSET=y
CONFIG_BRCTL=y
CONFIG_WC=y
CONFIG_MKE2FS_EXTENDED=y
CONFIG_MKE2FS=y
CONFIG_TOYBOX_FREE=y
CONFIG_CHMOD=y
CONFIG_UNIQ=y
CONFIG_TOYBOX_FIFREEZE=y
CONFIG_DMESG=y
CONFIG_TOYBOX_FALLOCATE=y
CONFIG_KILLALL=y
CONFIG_SHA224SUM=y
CONFIG_DHCPD=y
CONFIG_SLEEP=y
CONFIG_FALLOCATE=y
CONFIG_INSMOD=y
CONFIG_CHATTR=y
CONFIG_NETSTAT=y
CONFIG_TTY=y
CONFIG_CROND=y
CONFIG_PWD=y
CONFIG_EGREP=y
CONFIG_BOOTCHARTD=y
CONFIG_UNLINK=y
CONFIG_SHA256SUM=y
CONFIG_CHVT=y
# CONFIG_LOG is not set
CONFIG_XARGS=y
# CONFIG_FREE is not set
CONFIG_LSMOD=y
CONFIG_MIX=y
CONFIG_INIT=y
# CONFIG_TOYBOX_SMACK is not set
CONFIG_TAIL_SEEK=y
CONFIG_BASENAME=y
# CONFIG_TOYBOX_CONTAINER is not set
# CONFIG_READAHEAD is not set
CONFIG_ICONV=y
CONFIG_FIND=y
CONFIG_MKE2FS_JOURNAL=y
# CONFIG_SORT is not set
CONFIG_CUT=y
# CONFIG_FILE is not set
CONFIG_XXD=y
CONFIG_XZCAT=y
CONFIG_HELLO=y
# CONFIG_TOP is not set
CONFIG_COUNT=y
# CONFIG_FTPPUT is not set
# CONFIG_MKE2FS_GEN is not set
CONFIG_TOYBOX_UID_SYS=100
# CONFIG_EJECT is not set
CONFIG_TAR=y
CONFIG_LOGIN=y
# CONFIG_LINK is not set
# CONFIG_ULIMIT is not set
CONFIG_TOYBOX_LIBCRYPTO=y
# CONFIG_SH is not set
CONFIG_MKDIR_Z=y
CONFIG_COMPRESS=y
# CONFIG_USERDEL is not set
# CONFIG_DUMPLEASES is not set
CONFIG_MKFIFO_Z=y
CONFIG_FSCK=y
CONFIG_TOYBOX_UID_USR=500
CONFIG_CHGRP=y
CONFIG_MDEV=y
# CONFIG_PIVOT_ROOT is not set
# CONFIG_STOP is not set
# CONFIG_LS_COLOR is not set
CONFIG_EXPAND=y
# CONFIG_CHROOT is not set
CONFIG_SWAPOFF=y
# CONFIG_VMSTAT is not set
# CONFIG_IORENICE is not set
CONFIG_GREP=y
CONFIG_UUENCODE=y
# CONFIG_BLOCKDEV is not set
CONFIG_TUNCTL=y
# CONFIG_RMDIR is not set
# CONFIG_DD is not set
# CONFIG_HELP is not set
CONFIG_TOYBOX_PEDANTIC_ARGS=y
# CONFIG_CAT is not set
CONFIG_SLEEP_FLOAT=y
# CONFIG_GROUPDEL is not set
# CONFIG_DHCP is not set
# CONFIG_TR is not set
CONFIG_PIDOF=y
CONFIG_CHOWN=y
CONFIG_SKELETON_ALIAS=y
CONFIG_NL=y
CONFIG_ZCAT=y
# CONFIG_CPIO is not set
# CONFIG_TRUE is not set
# CONFIG_TELNETD is not set
# CONFIG_ECHO is not set
# CONFIG_FSYNC is not set
# CONFIG_TOYBOX_ON_ANDROID is not set
CONFIG_SU=y
# CONFIG_IOTOP is not set
# CONFIG_CAT_V is not set
CONFIG_HOSTNAME=y
# CONFIG_PING is not set
CONFIG_SYSCTL=y
# CONFIG_PRINTENV is not set
# CONFIG_MAKEDEVS is not set
CONFIG_LSOF=y
CONFIG_LOSETUP=y
# CONFIG_FALSE is not set
CONFIG_TOYBOX_UTMPX=y
# CONFIG_MD5SUM is not set
# CONFIG_SORT_FLOAT is not set
CONFIG_IPCRM=y
# CONFIG_KLOGD_SOURCE_RING_BUFFER is not set
CONFIG_TOYBOX_ICONV=y
CONFIG_DATE=y
CONFIG_WHOAMI=y
# CONFIG_MKE2FS_LABEL is not set
CONFIG_GETTY=y
# CONFIG_MODPROBE is not set
CONFIG_SETENFORCE=y
CONFIG_TOUCH=y
# CONFIG_LN is not set
# CONFIG_RM is not set
CONFIG_REBOOT=y
CONFIG_TIME=y
# CONFIG_DEALLOCVT is not set
CONFIG_SYSLOGD=y
# CONFIG_FSTYPE is not set
CONFIG_XARGS_PEDANTIC=y
# CONFIG_FLOCK is not set
CONFIG_ARPING=y
# CONFIG_HEXEDIT is not set
# CONFIG_PASSWD_SAD is not set
# CONFIG_NETCAT is not set
# CONFIG_ONEIT is not set
# CONFIG_COMM is not set
# CONFIG_TOYBOX_MUSL_NOMMU_IS_BROKEN is not set
# CONFIG_DU is not set
# CONFIG_TOYBOX_DEBUG is not set
# CONFIG_DEBUG_DHCP is not set
# CONFIG_OD is not set
CONFIG_PMAP=y
# CONFIG_RENICE is not set
# CONFIG_MKSWAP is not set
# CONFIG_KLOGD is not set
# CONFIG_BASE64 is not set
# CONFIG_W is not set
# CONFIG_INSTALL is not set
# CONFIG_MOUNTPOINT is not set
# CONFIG_MKNOD is not set
# CONFIG_HWCLOCK is not set
# CONFIG_WHO is not set
# CONFIG_REALPATH is not set
# CONFIG_TFTPD is not set
# CONFIG_SWAPON is not set
# CONFIG_LAST is not set
CONFIG_NPROC=y
# CONFIG_CAL is not set
# CONFIG_PASSWD is not set
CONFIG_ROUTE=y
# CONFIG_PWDX is not set
# CONFIG_MKPASSWD is not set
# CONFIG_SORT_BIG is not set
# CONFIG_PGREP is not set
# CONFIG_PRINTF is not set
# CONFIG_TELNET is not set
# CONFIG_STAT is not set
# CONFIG_NSENTER is not set
# CONFIG_GROUPADD is not set
# CONFIG_SETSID is not set
# CONFIG_KILLALL5 is not set
# CONFIG_CKSUM is not set
# CONFIG_STRINGS is not set
# CONFIG_VI is not set
# CONFIG_TIMEOUT is not set
# CONFIG_CD is not set
CONFIG_TOYBOX_LIBZ=y
# CONFIG_CLEAR is not set
# CONFIG_HELP_EXTRAS is not set
CONFIG_REV=y
# CONFIG_TOYBOX_I18N is not set
# CONFIG_HEAD is not set
# CONFIG_LSPCI is not set
# CONFIG_TOYBOX_PRLIMIT is not set
# CONFIG_IP is not set
# CONFIG_NOHUP is not set
# CONFIG_RESET is not set
# CONFIG_SED is not set
# CONFIG_RUNCON is not set
# CONFIG_CP is not set
# CONFIG_EXPR is not set
# CONFIG_MOUNT is not set
# CONFIG_FDISK is not set
# CONFIG_TFTP is not set
# CONFIG_TEST is not set
# CONFIG_START is not set
# CONFIG_SETFATTR is not set
# CONFIG_EXIT is not set
# CONFIG_LSPCI_TEXT is not set
# CONFIG_USLEEP is not set
# CONFIG_TEST_HUMAN_READABLE is not set
# CONFIG_SHA1SUM is not set
# CONFIG_FOLD is not set
# CONFIG_ARP is not set
# CONFIG_TRUNCATE is not set
# CONFIG_DIFF is not set
# CONFIG_TOYBOX_HELP_DASHDASH is not set
# CONFIG_READLINK is not set
# CONFIG_SENDEVENT is not set
# CONFIG_DOS2UNIX is not set
# CONFIG_PKILL is not set
# CONFIG_CP_PRESERVE is not set
# CONFIG_MV is not set
# CONFIG_FSFREEZE is not set
# CONFIG_GETPROP is not set
# CONFIG_LOAD_POLICY is not set
# CONFIG_GUNZIP is not set
# CONFIG_CMP is not set
# CONFIG_MORE is not set
# CONFIG_RMMOD is not set
# CONFIG_GZIP is not set
# CONFIG_LSUSB is not set
# CONFIG_TEST_UTF8TOWC is not set
# CONFIG_ASCII is not set
# CONFIG_GETENFORCE is not set
# CONFIG_IPCS is not set
# CONFIG_SETPROP is not set
# CONFIG_MKNOD_Z is not set
# CONFIG_MDEV_CONF is not set
# CONFIG_MODINFO is not set
# CONFIG_NETCAT_LISTEN is not set
# CONFIG_TOYBOX_ANDROID_SCHEDPOLICY is not set
# CONFIG_IFCONFIG is not set
# CONFIG_WATCH is not set
# CONFIG_UNSHARE is not set
# CONFIG_LSATTR is not set
# CONFIG_LOGGER is not set
# CONFIG_KILL is not set
