CONFIG_KILL=y
CONFIG_TOYBOX_NORECURSE=y
CONFIG_LOGGER=y
CONFIG_WHICH=y
CONFIG_IONICE=y
CONFIG_SWITCH_ROOT=y
CONFIG_IFCONFIG=y
CONFIG_MKDIR=y
CONFIG_MODINFO=y
CONFIG_MDEV_CONF=y
CONFIG_FREERAMDISK=y
CONFIG_TEST_MANY_OPTIONS=y
CONFIG_SEQ=y
CONFIG_ASCII=y
CONFIG_TOYBOX_FORK=y
CONFIG_TEST_UTF8TOWC=y
CONFIG_SYNC=y
CONFIG_NBD_CLIENT=y
CONFIG_FTPGET=y
CONFIG_RMMOD=y
CONFIG_TAIL=y
CONFIG_CMP=y
CONFIG_LOAD_POLICY=y
# CONFIG_EJECT is not set
CONFIG_MV=y
CONFIG_DOS2UNIX=y
CONFIG_ACPI=y
CONFIG_MKTEMP=y
CONFIG_READLINK=y
CONFIG_DF=y
CONFIG_DIFF=y
CONFIG_DECOMPRESS=y
CONFIG_ARP=y
CONFIG_HOST=y
CONFIG_TEST_HUMAN_READABLE=y
CONFIG_TOYBOX_SHADOW=y
CONFIG_RFKILL=y
CONFIG_SETFATTR=y
CONFIG_TRACEROUTE=y
CONFIG_TEE=y
CONFIG_TOYBOX_SUID=y
CONFIG_TFTP=y
CONFIG_FDISK=y
CONFIG_BUNZIP2=y
CONFIG_MOUNT=y
CONFIG_TOYBOX=y
CONFIG_EXPR=y
CONFIG_CP=y
CONFIG_MICROCOM=y
CONFIG_SPLIT=y
CONFIG_SED=y
CONFIG_WGET=y
CONFIG_TOYBOX_SELINUX=y
CONFIG_IP=y
CONFIG_LSPCI=y
CONFIG_PASTE=y
CONFIG_VI=y
CONFIG_GROUPADD=y
CONFIG_RESTORECON=y
CONFIG_TOYBOX_FLOAT=y
CONFIG_ENV=y
CONFIG_TELNET=y
CONFIG_LS=y
CONFIG_PRINTF=y
CONFIG_LOGNAME=y
CONFIG_BLKID=y
CONFIG_SHRED=y
CONFIG_PASSWD=y
CONFIG_CAL=y
CONFIG_INOTIFYD=y
CONFIG_CRONTAB=y
CONFIG_TASKSET=y
# CONFIG_NPROC is not set
CONFIG_WC=y
CONFIG_MKE2FS_EXTENDED=y
CONFIG_MKE2FS=y
# CONFIG_SYSCTL is not set
CONFIG_SWAPON=y
CONFIG_TFTPD=y
CONFIG_REALPATH=y
CONFIG_UNIQ=y
CONFIG_TOYBOX_FIFREEZE=y
CONFIG_WHO=y
CONFIG_MOUNTPOINT=y
CONFIG_TOYBOX_FALLOCATE=y
CONFIG_DHCPD=y
CONFIG_INSTALL=y
CONFIG_FALLOCATE=y
CONFIG_KLOGD=y
# CONFIG_STOP is not set
CONFIG_NETSTAT=y
CONFIG_OD=y
CONFIG_DEBUG_DHCP=y
CONFIG_TTY=y
CONFIG_DU=y
CONFIG_PWD=y
CONFIG_ONEIT=y
CONFIG_UNLINK=y
CONFIG_NETCAT=y
CONFIG_PASSWD_SAD=y
CONFIG_CHVT=y
CONFIG_FLOCK=y
CONFIG_XARGS=y
CONFIG_FSTYPE=y
# CONFIG_FREE is not set
CONFIG_MIX=y
CONFIG_INIT=y
# CONFIG_TOYBOX_SMACK is not set
CONFIG_TAIL_SEEK=y
CONFIG_BASENAME=y
CONFIG_RM=y
CONFIG_LN=y
CONFIG_ICONV=y
# CONFIG_TCPSVD is not set
# CONFIG_TOUCH is not set
# CONFIG_TOYBOX_CONTAINER is not set
# CONFIG_READAHEAD is not set
# CONFIG_FILE is not set
# CONFIG_TOYBOX_LSM_NONE is not set
CONFIG_XZCAT=y
CONFIG_HELLO=y
CONFIG_KLOGD_SOURCE_RING_BUFFER=y
CONFIG_COUNT=y
# CONFIG_GETTY is not set
# CONFIG_MKE2FS_GEN is not set
CONFIG_TOYBOX_UID_SYS=100
CONFIG_FALSE=y
# CONFIG_ULIMIT is not set
CONFIG_LOGIN=y
# CONFIG_TOP is not set
CONFIG_PRINTENV=y
CONFIG_TOYBOX_LIBCRYPTO=y
# CONFIG_SH is not set
CONFIG_MKDIR_Z=y
# CONFIG_TOYBOX_LIBZ is not set
# CONFIG_USERDEL is not set
CONFIG_ECHO=y
CONFIG_TELNETD=y
CONFIG_TRUE=y
CONFIG_CPIO=y
# CONFIG_HOSTNAME is not set
CONFIG_FSCK=y
CONFIG_TOYBOX_UID_USR=500
CONFIG_CHGRP=y
CONFIG_MDEV=y
# CONFIG_ZCAT is not set
# CONFIG_NL is not set
CONFIG_GROUPDEL=y
# CONFIG_VMSTAT is not set
# CONFIG_PMAP is not set
# CONFIG_SU is not set
CONFIG_DD=y
CONFIG_RMDIR=y
# CONFIG_SLEEP_FLOAT is not set
CONFIG_BLOCKDEV=y
# CONFIG_UUENCODE is not set
# CONFIG_TUNCTL is not set
# CONFIG_GREP is not set
CONFIG_TOYBOX_PEDANTIC_ARGS=y
CONFIG_IORENICE=y
# CONFIG_HELP is not set
# CONFIG_SWAPOFF is not set
# CONFIG_CAT is not set
# CONFIG_EXPAND is not set
CONFIG_PIDOF=y
# CONFIG_DHCP is not set
# CONFIG_TR is not set
CONFIG_CHOWN=y
CONFIG_CHROOT=y
CONFIG_SKELETON_ALIAS=y
CONFIG_PIVOT_ROOT=y
# CONFIG_MKFIFO_Z is not set
CONFIG_LS_COLOR=y
CONFIG_DUMPLEASES=y
# CONFIG_FSYNC is not set
# CONFIG_TOYBOX_ON_ANDROID is not set
# CONFIG_COMPRESS is not set
# CONFIG_IOTOP is not set
# CONFIG_CAT_V is not set
CONFIG_ROUTE=y
# CONFIG_PING is not set
CONFIG_LSOF=y
CONFIG_LOSETUP=y
# CONFIG_MAKEDEVS is not set
CONFIG_TOYBOX_UTMPX=y
# CONFIG_TAR is not set
CONFIG_REV=y
CONFIG_IPCRM=y
# CONFIG_MD5SUM is not set
# CONFIG_SORT_FLOAT is not set
CONFIG_LINK=y
CONFIG_TOYBOX_ICONV=y
CONFIG_DATE=y
CONFIG_WHOAMI=y
# CONFIG_XXD is not set
# CONFIG_MKE2FS_LABEL is not set
# CONFIG_CUT is not set
# CONFIG_MODPROBE is not set
# CONFIG_MKE2FS_JOURNAL is not set
# CONFIG_FIND is not set
CONFIG_SETENFORCE=y
CONFIG_CHCON=y
CONFIG_SORT=y
CONFIG_SKELETON=y
CONFIG_REBOOT=y
# CONFIG_DEALLOCVT is not set
CONFIG_TIME=y
CONFIG_SYSLOGD=y
# CONFIG_LSMOD is not set
CONFIG_NETCAT_LISTEN=y
CONFIG_GETENFORCE=y
CONFIG_XARGS_PEDANTIC=y
CONFIG_ARPING=y
# CONFIG_SHA256SUM is not set
# CONFIG_HEXEDIT is not set
CONFIG_CP_PRESERVE=y
# CONFIG_COMM is not set
# CONFIG_BOOTCHARTD is not set
# CONFIG_EGREP is not set
# CONFIG_TOYBOX_MUSL_NOMMU_IS_BROKEN is not set
# CONFIG_CROND is not set
# CONFIG_TOYBOX_DEBUG is not set
# CONFIG_CHATTR is not set
# CONFIG_RENICE is not set
# CONFIG_MKSWAP is not set
# CONFIG_INSMOD is not set
# CONFIG_BASE64 is not set
# CONFIG_W is not set
# CONFIG_SLEEP is not set
# CONFIG_SHA224SUM is not set
# CONFIG_KILLALL is not set
# CONFIG_MKNOD is not set
# CONFIG_DMESG is not set
# CONFIG_HWCLOCK is not set
# CONFIG_CHMOD is not set
# CONFIG_TOYBOX_FREE is not set
# CONFIG_LAST is not set
# CONFIG_BRCTL is not set
# CONFIG_PWDX is not set
# CONFIG_MKPASSWD is not set
# CONFIG_SHA512SUM is not set
# CONFIG_SORT_BIG is not set
# CONFIG_PGREP is not set
# CONFIG_UPTIME is not set
# CONFIG_SHA384SUM is not set
# CONFIG_STAT is not set
# CONFIG_NSENTER is not set
# CONFIG_MKFIFO is not set
# CONFIG_FGREP is not set
# CONFIG_SETSID is not set
# CONFIG_KILLALL5 is not set
# CONFIG_CKSUM is not set
# CONFIG_SULOGIN is not set
# CONFIG_STRINGS is not set
# CONFIG_TIMEOUT is not set
# CONFIG_CD is not set
# CONFIG_CLEAR is not set
# CONFIG_HELP_EXTRAS is not set
# CONFIG_DIRNAME is not set
# CONFIG_UMOUNT is not set
# CONFIG_TOYBOX_I18N is not set
# CONFIG_HEAD is not set
# CONFIG_TOYBOX_PRLIMIT is not set
# CONFIG_NOHUP is not set
# CONFIG_RESET is not set
# CONFIG_RUNCON is not set
# CONFIG_PARTPROBE is not set
# CONFIG_HOSTID is not set
# CONFIG_ID is not set
# CONFIG_TEST is not set
# CONFIG_START is not set
# CONFIG_VCONFIG is not set
# CONFIG_EXIT is not set
# CONFIG_GETFATTR is not set
# CONFIG_LSPCI_TEXT is not set
# CONFIG_NICE is not set
# CONFIG_USLEEP is not set
# CONFIG_SHA1SUM is not set
# CONFIG_FOLD is not set
# CONFIG_ID_Z is not set
# CONFIG_YES is not set
# CONFIG_TRUNCATE is not set
# CONFIG_BZCAT is not set
# CONFIG_TOYBOX_HELP_DASHDASH is not set
CONFIG_FTPPUT=y
# CONFIG_TEST_SCANKEY is not set
# CONFIG_SENDEVENT is not set
# CONFIG_PKILL is not set
# CONFIG_PATCH is not set
# CONFIG_FSFREEZE is not set
# CONFIG_GETPROP is not set
# CONFIG_TAC is not set
# CONFIG_UNAME is not set
# CONFIG_GUNZIP is not set
# CONFIG_LOG is not set
# CONFIG_MORE is not set
# CONFIG_CHRT is not set
# CONFIG_GZIP is not set
# CONFIG_PS is not set
# CONFIG_LSUSB is not set
# CONFIG_UNIX2DOS is not set
# CONFIG_IPCS is not set
# CONFIG_SETPROP is not set
# CONFIG_MKNOD_Z is not set
# CONFIG_CATV is not set
# CONFIG_TOYBOX_ANDROID_SCHEDPOLICY is not set
# CONFIG_GROUPS is not set
# CONFIG_TOYBOX_HELP is not set
# CONFIG_FACTOR is not set
# CONFIG_WATCH is not set
# CONFIG_OPENVT is not set
# CONFIG_USERADD is not set
# CONFIG_UNSHARE is not set
# CONFIG_UUDECODE is not set
# CONFIG_LSATTR is not set
# CONFIG_DHCP6 is not set
